{% macro details(data) %}
<details class="details">
  <summary class="details-summary">{{ data.text }}</summary>
  <div class="details-text">
      {{ data.content | safe }}
  </div>
</details>
{% endmacro %}
