{% macro notification(data) %}
<div class="notification notification-{{data.type}}" id="{{data.id}}" role="status">
    <div class="notification-icon"></div>
    <div class="notification-message">
        {% if data.heading %}<p class="bold">{{data.heading}}</p>{% endif %}
        <button class="notification-close">Luk</button>
        {% if data.content %}<p>{{data.content}}</p>{% endif %}
    </div>
</div>
{% endmacro %}
