// Buttons

a.button{
  padding: map-get($spacers, 3) calc(#{map-get($spacers, 4)} - #{$button-border-width}) calc(#{map-get($spacers, 3)} - #{$button-border-width});
  line-height: $body-text-line-height;
}
.button{
  appearance: none;
  display: inline-block;
  width: 100%;
  //@include margin(0.5em 0.5em 0.5em null);
  padding: map-get($spacers, 3) calc(#{map-get($spacers, 4)} - #{$button-border-width}) calc(#{map-get($spacers, 3)} - #{$button-border-width});
  border-radius: $button-border-radius;
  border-width: $button-border-width $button-border-width $button-border-bottom-width $button-border-width;
  border-style: solid;
  border-color: $button-primary-border-color;
  font-size: 1.8rem;
  font-weight: 500;
  color: $button-primary-color;
  @include font-smoothing;
  line-height: 2rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    & + .button {
      margin-top: 8px;
    }
  }

  &.focus,
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-spacing;
    color: $button-primary-color;
  }

  //############ Primary ###############
  &.button-primary {
    color: $button-primary-color;
    background-color: $button-primary-default-background-color;
    border-color: $button-primary-default-border-color;

    &:hover,
    &.button-hover {
      background-color: $button-primary-hover-background-color;
      border-color: $button-primary-hover-border-color;
    }

    &:active,
    &.button-active {
      background-color: $button-primary-active-background-color;
      border-color: $button-primary-active-border-color;
    }

    &.focus,
    &:focus {
      background-color: $button-primary-focus-background-color;
      border-color: $button-primary-focus-border-color;
    }

    &:disabled,
    &.disabled {
      opacity: $button-disabled-opacity;
      box-shadow: none !important;
      cursor: not-allowed;

      &:hover {
        color: $button-primary-color !important;
        background-color: $button-primary-default-background-color !important;
        border-color: $button-primary-border-color !important;
        opacity:$button-disabled-opacity !important;
        box-shadow: none !important;
      }
    }
  }

  //############ Secondary ##############
  &.button-secondary {
    color: $button-secondary-default-color;
    background-color: $button-secondary-default-background-color;
    border-color: $button-secondary-default-border-color;

    &:hover,
    &.button-hover {
      color: $button-secondary-hover-color;
      background-color: $button-secondary-hover-background-color;
      border-color: $button-secondary-hover-border-color;
    }

    &:active,
    &.button-active {
      color: $button-secondary-active-color;
      background-color: $button-secondary-active-background-color;
      border-color: $button-secondary-active-border-color;
    }

    &.focus,
    &:focus {
      color: $button-secondary-focus-color;
      background-color: $button-secondary-focus-background-color;
      border-color: $button-secondary-focus-border-color;
    }
    &:disabled,
    &.disabled {
      opacity:$button-disabled-opacity;
      box-shadow: none !important;
      cursor: not-allowed;
      border-color: $button-secondary-disabled-border-color !important;

      &:hover {
        color: $button-secondary-default-color !important;
        background-color: $button-secondary-default-background-color !important;
        border-color: $button-secondary-disabled-border-color !important;
        opacity:$button-disabled-opacity !important;
        box-shadow: none !important;
      }
    }
  }

  //############### tertiary ############
  &.button-tertiary {
    border-color: $button-tertiary-default-border-color;
    background-color: $button-tertiary-default-background-color;
    color: $button-tertiary-default-color;
    font-weight: $font-weight-normal;

    &:hover,
    &.button-hover {
      border-color: $button-tertiary-hover-border-color;
      background-color: $button-tertiary-hover-background-color;
      color: $button-tertiary-hover-color;
    }

    &:active,
    &.button-active {
      border-color: $button-tertiary-active-border-color;
      background-color: $button-tertiary-active-background-color;
      color: $button-tertiary-active-color;
    }

    &.focus,
    &:focus {
      border-color: $button-tertiary-focus-border-color;
      background-color: $button-tertiary-focus-background-color;
      color: $button-tertiary-focus-color;
    }

    &:disabled,
    &.disabled {
      opacity:$button-disabled-opacity;
      box-shadow: none !important;
      cursor: not-allowed;

      &:hover {
        border-color: $button-tertiary-default-background-color !important;
        background-color: $button-tertiary-default-background-color !important;
        color: $button-tertiary-default-color;;
        font-weight: $font-weight-normal !important;
        opacity:$button-disabled-opacity;
        box-shadow: none !important;
      }
    }
  }

  //############ Button quaternary - button styled as a link #################
  &.button-quaternary {
    color: $button-quaternary-default-color;
    background-color: $button-quaternary-default-background-color;
    border-color: transparent;
    text-decoration: none;
    font-weight: $font-weight-normal;
    padding-left: calc(8px - #{$button-border-width});

    &:hover,
    &.button-hover {
      background-color: $button-quaternary-hover-background-color;
      box-shadow:none;
      border-bottom-color: transparent;
    }

    &:active,
    &.button-active {
      background-color: $button-quaternary-active-background-color;
      box-shadow:none;
      border-bottom-color: transparent;
    }

    &.focus,
    &:focus {
      color: $button-quaternary-default-color;
      box-shadow:none;
      border-bottom-color: transparent;
      background-color: $button-quaternary-focus-background-color;
    }

    &:disabled,
    &.disabled {
      opacity: $button-disabled-opacity;
      box-shadow: none !important;
      cursor: not-allowed;

      &:hover {
        color: $button-quaternary-default-color !important;
        background-color: $button-quaternary-default-background-color !important;
        font-weight: $font-weight-normal !important;
        opacity: $button-disabled-opacity !important;
        box-shadow: none !important;
      }
    }

    .icon-svg{
      margin-right: 0;
      margin-bottom: -2px;
      margin-top: -4px;
    }
  }

  &.button-small {
    padding: calc(#{map-get($spacers, 1)}) calc(#{map-get($spacers, 4)} - #{$button-border-width}) 0px;
    font-size: $small-text;
    min-height: 24px;
  }

  .icon-svg {
    margin-right: 4px;
    fill: currentColor;
    margin-top: -0.2em;
  }
}

@mixin button-unstyled {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-weight: $font-weight-normal;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: auto;
  color: inherit;
  min-height: auto;

  &:hover, &:focus {
    background-color: transparent;
    color: inherit;
  }
}

.button-unstyled {
  @include button-unstyled;
}

.button + .button{
  @include media-breakpoint-up(md) {
    margin-left: 8px;
    &:first-child{
      margin-left: 0;
    }
  }
}
.button-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .button{
    margin-top: 8px;
    margin-left: 0;
    &:first-child{
      margin-top: 0;
    }
  }
}
