@use "../variables/variables" as vars;
@use "../functions/functions" as func;

hr{
    border-top: func.border(vars.$hr-border); // inner border color
    display: block;
    border-bottom-width: 0;
}
