
 //Ul lists

 ul {
   padding-left: 0;
   list-style-type: none;
   color: color($typography-body-text-color);
   font-size: $typography-body-text-size;
   line-height: $typography-body-text-line-height;
   > li {
     margin-top:units(3);
     list-style-type: none;
     position: relative;
     padding-left: units(4);
     line-height: $typography-body-text-line-height;
     &::before {
       content: "\2022";
       position: absolute;
       left: 0px;
       top: -1px;
       font-size: 20px;
     }
   }
 }
//Ol lists
ol {
  padding-left: units(505);
  li{
    margin-top: units(3);
    line-height: 2.4rem;
  }
}

.article{
  ul > li, ol > li{
    font-size:$article-font-size;
    line-height: $article-line-height;
    letter-spacing: $article-letter-spacing;
  }
}


// Unstyled lists
.unstyled-list {
  @include unstyled-list;
}

.bordered-list{
  @include unstyled-list;
  border-top: border(20);
  li{
    padding: units(3) 0px;
    border-bottom: border(20);
  }
}

 // No bullet lists
 .nobullet-list {
   @include nobullet-list;
 }

 // No indententation list
 .noindent-list {
   @include noindent-list;
 }


.inline-list {
  @include unstyled-list;
  > li {
    display: block;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  li + li{
    margin-top: units(305);
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}
