@use "../values/fds-values" as fds;
@use "../mixins/mixins" as mixins;

 //Ul lists

 ul {
   padding-left: 0;
   list-style-type: none;
   color: fds.color(fds.$typography-body-text-color);
   font-size: fds.font-size(fds.$typography-body-text-font-size);
   line-height: fds.units(fds.$typography-body-text-line-height, 'rem');
   > li {
     margin-top:fds.units(3);
     list-style-type: none;
     position: relative;
     padding-left: fds.units(4);
     line-height: fds.units(fds.$typography-body-text-line-height, 'rem');
     &::before {
       content: "\2022";
       position: absolute;
       left: 0px;
       top: -1px;
       font-size: fds.font-size('lg');
     }
   }
 }
//Ol lists
ol {
  padding-left: fds.units(505);
  li{
    margin-top: fds.units(3);
    line-height: fds.units(5, 'rem');
  }
}

.article{
  ul > li, ol > li{
    font-size: fds.font-size(fds.$typography-article-font-size);
    line-height: fds.units(fds.$typography-article-line-height, 'rem');
    letter-spacing: fds.$typography-article-letter-spacing;
  }
}

// Unstyled lists
.unstyled-list {
  @include mixins.unstyled-list;
}

.bordered-list{
  @include mixins.unstyled-list;
  border-top: fds.border(20);
  li{
    padding: fds.units(3) 0px;
    border-bottom: fds.border(20);
  }
}

 // No bullet lists
 .nobullet-list {
   @include mixins.nobullet-list;
 }

 // No indententation list
 .noindent-list {
   @include mixins.noindent-list;
 }


.inline-list {
  @include mixins.unstyled-list;
  > li {
    display: block;

    @include mixins.media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  li + li{
    margin-top: fds.units(305);
    @include mixins.media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}
