@use "../values/fds-values" as fds;
@use "../mixins/mixins" as mixins;

// Tags
.tag{
  @include mixins.appearance-none;
  display: inline-block;
  width: auto;
  padding:0;
  padding-left: fds.units(3);
  padding-right:fds.units(3);
  margin-right:fds.units(3);
  margin-bottom:fds.units(3);
  border-radius: fds.$tag-border-radius;
  border: none;
  font-size: fds.font-size(fds.$tag-font-size);
  font-weight: fds.font-weight(fds.$tag-font-weight);
  color: fds.color(fds.$tag-text-color);
  background-color: fds.color(fds.$tag-default-background-color);
  @include mixins.font-smoothing;
  line-height: fds.units(fds.$tag-line-height, "rem");
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &.tag-icon {
    padding:0;
    padding-left:fds.units(3);
  }

  & + .tag {
    margin-bottom: fds.units(3);
  }

  &:hover,
  &.tag-hover {
    background-color: fds.color(fds.$tag-hover-background-color);
  }

  &:active,
  &.tag-active {
    background-color: fds.color(fds.$tag-active-background-color);
  }

  &.focus,
  &:focus {
    background-color: fds.color(fds.$tag-focus-background-color);
  }

  &.focus,
  &:focus {
    @include mixins.focus();
    position: relative;
  }

  .icon-svg {
    float: right;
    margin: 0px 0px 0px 5px;
    fill: fds.color(fds.$tag-icon-color);
  }
}

.button-row {
  display: flex;
  margin: 2rem 0 1rem;
}