 {% macro overflowmenu(data) %}
    <div class="overflow-menu overflow-menu--sort overflow-menu--open-right" id="{{ data.id }}">
        <button class="button-overflow-menu" data-js-target="{{ data.id }}-panel" aria-haspopup="true" aria-expanded="false">
            {% if data.icon %}<svg class="icon-svg" aria-hidden="true" focusable="false"><use xlink:href="#{{ data.icon }}"></use></svg>{% endif %}{{ data.label }}<span class="selected-value"></span>
        </button>
        <div class="overflow-menu-inner" id="{{ data.id }}-panel" aria-hidden="true">
            <ul class='overflow-list' role="menu">
                {%- for item in data.items -%}
                    <li role="menuitem"{% if item.selected %} aria-selected="true"{% endif %}><button id="{{item.id}}">{{item.text}}</button></li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
{% endmacro %}
