{%- macro badge(class, state) -%}
  {%- if (state == 'large') -%}
    <label class="badge badge-{{class}}">Nyhed</label>
  {%- elif (state == 'small') -%}
    <label class="badge badge-{{class}}">Lille nyhed</label>
  {%- endif %}
{%- endmacro -%}
