.DS_store
.*.swp
dist/LICENSE.md
.vscode/

# ignore Node-specific files and directories
node_modules/
npm-debug.log*

# code coverage
coverage/

# ignore the generated dkfds directory
dkfds-*/
dkfds-*.zip

