# Ensure that src and dist are published
!dist/
!src/

build/
.git/
.github/
.editorconfig
.eslintignore
.eslintrc.yml
package-lock.json
.idea/
node_modules
config
examples
gulpfile.js
fractalfile.js
