@use "../variables/variables" as vars;
@use "../functions/functions" as func;
@use "../mixins/mixins" as mixins;

.anchorbox {
    margin-bottom: func.units(7);
    margin-top: func.units(7);
}

.anchortitle {
    font-size: func.font-size("xs");
    font-weight: func.font-weight("medium");
    margin-bottom: func.units(3);
    line-height: func.units(vars.$typography-base-line-height, 'rem');
}

.anchorlist {
    @include mixins.nobullet-list;
    margin-top: 0;
}