@use "../values/fds-values" as fds;
@use "../mixins/mixins" as mixins;

.button.back-to-top-button {
    box-shadow: fds.shadow(fds.$back-to-top-button-shadow);
    width: auto;
    background-color: fds.color(fds.$back-to-top-button-background);
    position: fixed;
    right: fds.units(5);
    bottom: fds.units(5);
    left: auto;
    top: auto;
    z-index: 1;

    &.button-tertiary {
        background-color: fds.color(fds.$back-to-top-button-background);
    }

    &.footer-sticky {
        position: absolute;
        bottom: auto;
        top: auto;
        margin-top: fds.units(4);
        z-index: auto;
    }

    @include mixins.media-breakpoint-down(md) {
        .icon-svg {
            margin-right: fds.units(0);
        }
    }
}

