@use "../functions" as func;
@use "../mixins" as mixins;

.back-link {
    color: func.color('black');
    text-decoration: underline;
    display: inline-block;
    margin-bottom: func.units(5);
    padding: 0;
    line-height: 2.4rem;
    background-color: func.color('transparent');
    cursor: pointer;

    @include mixins.media-breakpoint-up(lg) {
        margin-bottom: func.units(6);
    }

    &:visited, 
    &:hover,
    &:active
    {
        color: func.color('black');
    }

    &:focus {
        @include mixins.focus;
    }
}