.cookie-container{

  color: $color-black;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 9500;
  background-color:$color-white;
  margin-bottom: map-get($spacers, 3);
  margin-left: map-get($spacers, 3);
  margin-right: map-get($spacers, 3);
  border: $outer-border;
  box-shadow: $box-shadow-heavy;

  .cookie-message{
    @include grid-container();
    @include grid-container-max-widths();
    padding-top: calc(#{map-get($spacers, 6)} - 1px);
    padding-bottom: calc(#{map-get($spacers, 7)} - 1px);
    position: relative;
    overflow: hidden;

    .cookie-actions{
      margin-top: map-get($spacers, 4);
    }
  }
}
