@use "../mixins/mixins" as mixins;
@use "../functions/functions" as func;

// a function link, does not look like a link
button.function-link {
    @include mixins.font-smoothing;
    background: none;
    padding: 0;
    text-decoration: underline;
    text-align: left;
    line-height: 1.5;
    user-select: text;
    cursor: pointer;
}

.function-link{
    border: none;
    @include mixins.body-copy-text;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    line-height: 1.5;

    &:hover, &:visited, &:focus{
        color: func.color('ink');
    }

    .icon-svg{
        margin-right: func.units(2);
        fill: currentColor;
    }

    &.link-right {
        text-align: right;
    }

    &.icon-link .icon-svg {
        margin-top: func.units(1);
    }
}

.function-link-wrapper {
    @include mixins.nobullet-list;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    li {
        margin-left: func.units(4);
        margin-top: 0;
    }
}
