@use "../core/font-size" as *;
@use "../core/font-weight" as *;

@import "mixins/nav-mixins";

$navigation-row-link-padding-left-right: units(305);
$navigation-desktop-border-bottom-thickness: units(2);

.mobile_nav-active {
    overflow: hidden;
}

ul.mainmenu {
    @include unstyled-list;
    @include nav-link-leftdist(units(3), $navigation-link-current-border-color, 24px, 48px, 72px, 96px);
    @include nav-link-border($navigation-link-border-color, $navigation-sublink-border-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
    border-bottom: 1px solid color($navigation-border-top-bottom-color);
    border-top: 1px solid color($navigation-border-top-bottom-color);

    @include media-breakpoint-up($nav-responsive-breakpoint) {
        flex-direction: row;
        border-bottom: 0;
        border-top: 0;
        margin-left: -$navigation-row-link-padding-left-right;
    }

    ul {
        @include unstyled-list();
        width: 100%;
        max-width: none !important; /* Override ul styling in typography.scss */
    }

    li {
        background-color: color($navigation-link-background-color);

        @include media-breakpoint-up($nav-responsive-breakpoint) {
            border-top: 0;

            &.active {
                border-left: 0;
                
                .nav-link {
                    margin-left: 0;
                    width: unset;

                    &:hover {
                        border-left: 0;
                        padding-left: $navigation-row-link-padding-left-right;
                    }

                    span {
                        border-bottom: $navigation-desktop-border-bottom-thickness solid color($navigation-link-current-border-color);
                        font-weight: get-font-weight("bold");
                    }
                }
            }
        }

        &.active > a:first-child,
        &.active > .submenu > button:first-child {
            font-weight: get-font-weight("bold");
        }

        &.current {
            background-color: color($navigation-link-current-background-color);

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                background-color: color($navigation-link-background-color);
            }

            .helptext {
                color: color($navigation-link-current-helptext-color);
                font-weight: get-font-weight("normal");
            }
        }

    }

    .nav-link {
        padding-top: units(4);
        padding-bottom: units(4);
        padding-right: units(5); /* padding-left handled by mixin 'nav-link-leftdist' */
        text-decoration: none;
        color: color($navigation-link-default-color);
        font-size: get-font-size('sm');
        background-color: color('transparent');
        display: block;
        line-height: units(5, 'rem');
        white-space: normal;
        width: 100%;
        max-width: unset;
        cursor: pointer;

        @include media-breakpoint-up($nav-responsive-breakpoint) {
            padding-left: $navigation-row-link-padding-left-right;
            padding-right: $navigation-row-link-padding-left-right;
            padding-bottom: 0;
            width: unset;
        }

        &:hover {
            background-color: color($navigation-link-background-color-hover);

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                padding-left: $navigation-row-link-padding-left-right;
                border-left: 0;
                background-color: color($navigation-link-background-color); /* Don't use hover color on desktop */
            }
            
            span {
                @include media-breakpoint-up($nav-responsive-breakpoint) {
                    border-bottom: $navigation-desktop-border-bottom-thickness solid color($navigation-link-current-border-color);
                }
            }

            .helptext {
                color: color($navigation-link-current-helptext-color);
                font-weight: get-font-weight("normal");
            }
        }

        &:focus {
            outline-offset: -4px;
            position: relative;
            z-index: 2;

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                outline-offset: 0;
            }
        }

        span {
            display: inline-block;
            width: 100%;
            overflow-wrap: break-word;

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                display: block;
                border-bottom: $navigation-desktop-border-bottom-thickness solid transparent;
                padding-bottom: units(305);
                font-weight: get-font-weight("normal");
                white-space: nowrap;
            }
        }

        .helptext {
            color: color($navigation-link-helptext-color);
            width: auto;
            font-weight: get-font-weight("normal");
        }
    }

    /* Overflow/dropdown menus */
    .submenu {
        display: block;
        position: relative;
        width: 100%;

        @include media-breakpoint-up($nav-responsive-breakpoint) {
            display: inline-block;
        }

        /* Overflow button */
        .button-mobile-menu,
        .button-overflow-menu {
            text-align: left;
            text-decoration: none;
            border: 0;

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                position: relative;
            }

            span {
                background-position-x: right;
                background-position-y: center;
                background-size: 2.4rem;
                padding-right: calc(2.4rem + 4px);

                @include media-breakpoint-up($nav-responsive-breakpoint) {
                    background-position-y: top;
                    white-space: nowrap;
                }
            }

            &[aria-expanded="false"] span {
                @include add-background-svg("add");

                @include media-breakpoint-up($nav-responsive-breakpoint) {
                    @include add-background-svg("expand-more");
                }
            }

            &[aria-expanded="true"] span {
                @include add-background-svg("remove");

                @include media-breakpoint-up($nav-responsive-breakpoint) {
                    @include add-background-svg("expand-less");
                }
            }

        }

        /* Overflow content */
        .overflow-menu-inner {
            position: static;
            border: 0;
            width: 100%;

            @include media-breakpoint-up($nav-responsive-breakpoint) {
                position: absolute;
                z-index: 1;
                top: 100%;
                width: 30rem;
                border: 1px solid color('gray-500');
                background-color: color('white');
                padding: $navigation-row-link-padding-left-right;
                margin-left: -$navigation-row-link-padding-left-right;

                li {
                    border-top: 0;

                    .nav-link {
                        padding-top: units(3);
                        padding-bottom: units(3);
                        padding-left: $navigation-row-link-padding-left-right;
                        padding-right: $navigation-row-link-padding-left-right;
                        background-color: color('transparent');
                        max-width: 100%;
                        width: 100%;
    
                        &:hover {
                            padding-left: $navigation-row-link-padding-left-right;
    
                            span {
                                text-decoration: underline;
                            }
                        }
    
                        span {
                            border-bottom: none;
                            font-weight: get-font-weight("normal");
                            padding-bottom: 0;
                            white-space: normal;
                            display: inline-block;
                            width: 100%;
                        }
                    }

                    .button-mobile-menu span,
                    .button-overflow-menu span {
                        background-position-y: center;
                    }

                    &.current .nav-link span{
                        font-weight: get-font-weight("bold");
                    }
                }
            }

            &[aria-hidden="true"] {
                display: none;
            }
        }

    }
}
