@use "../variables/variables" as vars;
@use "../functions/functions" as func;
@use "../mixins/mixins" as mixins;

$navigation-row-link-padding-left-right: func.units(305);
$navigation-desktop-border-bottom-thickness: func.units(2);

$-left-right-padding: func.units(305);

%-mainmenu-item {
    display: block;
    padding: func.units(4) $-left-right-padding 0 $-left-right-padding;
    text-decoration: none;
    background-color: func.color(vars.$navigation-link-background-color);
    color: func.color(vars.$navigation-link-default-color);
    border: 0;
    line-height: 1.5;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    max-width: unset;

    span {
        display: block;
        border-bottom: $navigation-desktop-border-bottom-thickness solid func.color('transparent');
        padding-bottom: func.units(305);
    }

    &:hover {
        span {
            border-bottom: $navigation-desktop-border-bottom-thickness solid func.color(vars.$navigation-link-current-border-color);
        }
    }

    &:focus {
        position: relative;
        z-index: 2;
    }
}

%-icon-properties {
    $icon-size: func.units(5, 'rem');

    span {
        background-position-x: right;
        background-size: $icon-size;
        padding-right: calc($icon-size + func.units(2));
    }
}

// --------------------------
// Main menu on desktop
// --------------------------

.navigation-menu ul.mainmenu {
    @include mixins.unstyled-list;
    display: flex;
    flex-flow: row nowrap;
    margin-left: -$-left-right-padding;

    .nav-link {
        @extend %-mainmenu-item;
    }

    .more-button {
        @extend %-mainmenu-item;
        @extend %-icon-properties;

        span {
            @include mixins.add-background-svg("more-vert");
        }
    }

    li.active {
        span {
            border-bottom: $navigation-desktop-border-bottom-thickness solid func.color(vars.$navigation-link-current-border-color);
            font-weight: func.font-weight("bold");
        }
    }

    .button-overflow-menu {
        @extend %-mainmenu-item;
        @extend %-icon-properties;

        &[aria-expanded="false"] span {
            @include mixins.add-background-svg("expand-more");
        }

        &[aria-expanded="true"] span {
            @include mixins.add-background-svg("expand-less");
        }
    }

    .overflow-menu-inner {
        position: absolute;
        z-index: 1;
        top: 100%;
        width: 30rem;
        border: 1px solid func.color('gray-500');
        background-color: func.color('white');
        padding: $navigation-row-link-padding-left-right;
        margin-left: -$navigation-row-link-padding-left-right;

        ul {
            @include mixins.unstyled-list;

            .nav-link {
                padding-top: func.units(3);
                padding-bottom: func.units(3);
                white-space: normal;
                max-width: 100%;
                overflow-wrap: break-word;

                span {
                    border-bottom: none;
                    font-weight: func.font-weight("normal");
                    padding-bottom: 0;
                }

                &:hover {
                    span {
                        text-decoration: underline;
                    }
                }
            }

            li.current .nav-link span {
                font-weight: func.font-weight("bold");
            }
        }
    }
}