@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: func.units(5);
    margin-bottom: func.units(5);

    .pagination__dropdown {
        display: none;

        @include mixins.media-breakpoint-down(sm) {
            display: inline-flex;
        }
    }

    .button {
        &.button-arrow {
            font-size: func.font-size(vars.$pagination-button-arrow-font-size);
            @include mixins.appearance-none;
            background-color: func.color(vars.$pagination-button-arrow-background-color);
            border-style: none;
            color: func.color(vars.$pagination-button-arrow-color);
            text-decoration: underline;
            white-space: nowrap;
            width: auto;
            padding: 0 func.units(3); // top and bottom | left and right

            &.hidden {
                visibility: hidden;
            }

            .icon-svg {
                margin-right: func.units(0);
            }

            .pagination-nav-link {
                @include mixins.media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        &.button-first, &.button-last {
            @include mixins.media-breakpoint-up(md) {
                display: none;
            }
        }

        &.button-previous {
            .icon-svg {
                margin-right: func.units(2);

                @include mixins.media-breakpoint-down(sm) {
                    margin-right: func.units(0);
                }
            }
        }

        &.button-next {
            .icon-svg {
                margin-left: func.units(2);

                @include mixins.media-breakpoint-down(sm) {
                    margin-left: func.units(0);
                }
            }
        }
    }

    .pagination-mobile {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        margin-left: func.units(3);
        margin-right: func.units(3);

        @include mixins.media-breakpoint-up(md) {
            display: none;
        }
    }

    .pagination__items {
        width: auto;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        @include mixins.unstyled-list;

        @include mixins.media-breakpoint-down(sm) {
            display: none;
        }

        .pagination-item {
            margin-left: func.units(3);
            margin-right: func.units(3);

            .current-page {
                @include mixins.appearance-none;
                display: inline-block;
                width: 100%;
                padding: func.units(3) calc(#{func.units(4)} - #{vars.$button-border-width}) calc(#{func.units(3)} - #{vars.$button-border-width});
                border-radius: vars.$button-border-radius;
                border-width: vars.$button-border-width vars.$button-border-width vars.$button-border-bottom-width vars.$button-border-width;
                border-style: solid;
                font-weight: func.font-weight("medium");
                line-height: 2rem;
                text-align: center;
                justify-content: center;
                text-decoration: none;
                user-select: text;

                font-size: func.font-size('md');
                color: func.color(vars.$pagination-current-page-color);
                background-color: func.color(vars.$pagination-current-page-background-color);
                border-color: func.color(vars.$pagination-current-page-border-color);
            }
        }
    }

}









