@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixins;

%pagination-default {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .button {
        &.button-arrow {
            appearance: none;
            font-size: func.font-size(vars.$pagination-button-arrow-font-size);
            background-color: func.color(vars.$pagination-button-arrow-background-color);
            border-style: none;
            color: func.color(vars.$pagination-button-arrow-color);
            text-decoration: underline;
            white-space: nowrap;
            width: auto;
            margin: 0;
            padding: 0 func.units(3); // top and bottom | left and right

            &.hidden {
                visibility: hidden;
            }

            .icon-svg {
                margin-right: func.units(0);
            }

            .pagination-nav-link {
                padding: 0 func.units(2); // top and bottom | left and right

                @include mixins.media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        &.button-first, &.button-last {
            @include mixins.media-breakpoint-up(md) {
                display: none;
            }
        }
    }

    .pagination-mobile {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        margin-left: func.units(3);
        margin-right: func.units(3);

        @include mixins.media-breakpoint-up(md) {
            display: none;
        }
    }

    .pagination__items {
        width: auto;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        @include mixins.unstyled-list;

        @include mixins.media-breakpoint-down(sm) {
            display: none;
        }

        .pagination-item.pagination-number {
            a, button {
                appearance: none;
                user-select: text;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border: 0;
                font-size: func.font-size('sm');
                color: func.color(vars.$pagination-page-color);
                font-weight: func.font-weight("normal");
                text-decoration: underline;

                &.current-page {
                    background-color: func.color(vars.$pagination-current-page-background-color);
                    color: func.color(vars.$pagination-current-page-color);
                    font-weight: func.font-weight("bold");
                    text-decoration: none;

                    &:hover {
                        background-color: func.color(vars.$pagination-current-page-background-color-hover);
                    }
                }
            }
        }
    }
}

.pagination {
    @extend %pagination-default;
    margin-top: func.units(5);
    margin-bottom: func.units(5);

    .button {
        border-radius: func.units(5);
    }

    .pagination__items {
        .pagination-item {
            margin-left: func.units(3);
            margin-right: func.units(3);

            &.pagination-number {
                &:first-child {
                    margin-left: func.units(305);
                }
    
                &:last-child {
                    margin-right: func.units(305);
                }
    
                a, button {
                    background-color: func.color(vars.$pagination-page-background-color);
                    min-width: func.units(8);
                    min-height: func.units(8);
                    padding: 0 func.units(305); // top and bottom | left and right
                    border-radius: func.units(5);

                    &:hover {
                        background-color: func.color(vars.$pagination-page-background-color-hover);
                    }

                    &:active {
                        background-color: func.color(vars.$pagination-page-background-color-active);
                    }    
                }
            }
        }
    }
}

.table-pagination {
    @extend %pagination-default;
    margin-top: func.units(3);
    margin-bottom: func.units(3);

    .button {
        border-radius: func.units(405);

        &.button-arrow {
            .pagination-nav-link {
                display: none;
            }
        }
    }

    .pagination__items {
        .pagination-item {
            margin-left: func.units(1);
            margin-right: func.units(1);

            &.pagination-number {
                &:first-child {
                    margin-left: func.units(2);
                }
    
                &:last-child {
                    margin-right: func.units(2);
                }
    
                a, button {
                    background-color: transparent;
                    min-width: func.units(7);
                    min-height: func.units(7);
                    padding: 0 func.units(3); // top and bottom | left and right
                    border-radius: func.units(405);

                    &:hover {
                        background-color: func.color(vars.$table-pagination-page-background-color-hover);
                    }

                    &:active {
                        background-color: func.color(vars.$table-pagination-page-background-color-active);
                    }    
                }
            }
        }
    }
}