@import "mixins/nav-mixins";

$sidemenu-border-left-thickness: units(2);
$sidemenu-link-padding-right: units(4);
$sidemenu-icon-size: 2.4rem;

ul.sidemenu {
    @include unstyled-list();
    @include nav-link-leftdist($sidemenu-border-left-thickness, $sidenav-border-active-color, 16px, 40px, 64px, 88px);
    @include nav-link-border($sidenav-link-border-color, $sidenav-sublink-border-color);
    border-bottom: 1px solid color($sidenav-border-top-bottom-color);
    border-top: 1px solid color($sidenav-border-top-bottom-color);
    max-width: none;

    ul {
        @include unstyled-list();
        width: 100%;
        max-width: none !important; /* Override ul styling in typography.scss */
    }

    li {
        background-color: color($sidenav-link-background-color);
        font-size: font-size('sm');
    }

    ul li,
    ul ul li {
        font-size: font-size('xs');
    }

    .nav-link, 
    .nav-step {
        padding-top: units(2);
        padding-bottom: units(2);
        padding-right: units(4); /* padding-left handled by mixin 'nav-link-leftdist' */
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-align: start;
        width: 100%;
        max-width: none;
        border: none;
        color: color($sidenav-link-font-color);
        background-color: transparent;
        text-decoration: none;
        min-height: calc(units(7) - 1px); /* Minus 1px due to the border on the li element */
        cursor: pointer;
        font-weight: font-weight("normal");
        line-height: units(5, 'rem');

        &:focus {
            outline-offset: 0;
            position: relative;
            z-index: 1;
        }

        &:hover {
            background-color: color($sidenav-link-background-color-hover);

            .sidenav-information {
                color: color($sidenav-link-current-extra-information-text-color);
            }
        }

        .sidenav-information {
            color: color($sidenav-link-default-extra-information-text-color);
            margin: 0;
            display: block;
            width: 100%;
            font-weight: font-weight("normal");
        }
    }

    .nav-link {
        div {
            width: 100%;
        }

        span {
            display: inline-block;
            width: 100%;
            overflow-wrap: break-word;
        }
    }

    .nav-step {
        & > div {
            display: flex;
            width: 100%;
        }

        div div {
            overflow-wrap: break-word;
            max-width: calc(100% - $sidemenu-icon-size - $sidemenu-link-padding-right);
            width: 100%;
        }

        .sidenav-number {
            margin-right: units(2);
        }

        .sidenav-information {
            max-width: calc(100% + $sidemenu-icon-size);
        }

        .sidenav-icon {
            margin-left: auto;
            width: $sidemenu-icon-size;
            height: $sidemenu-icon-size;

            .icon-svg {
                vertical-align: baseline;
            }
        }
    }

    li.active {

        & > :first-child {
            font-weight: font-weight("bold");
        }
    }

    li.current {
        background-color: color($sidenav-link-current-background-color);

        & > .nav-link,
        & > .nav-step {
            font-weight: font-weight("bold");

            .sidenav-information {
                color: color($sidenav-link-current-extra-information-text-color);
            }
        }
    }

    li.sidenav-error {
        background-color: color($sidenav-error-background-color);

        &.current {
            background-color: color($sidenav-error-background-color);
        }

        .nav-link:hover,
        .nav-step:hover {
            background-color: color($sidenav-error-background-color);
        }

        .sidenav-information {
            color: color($sidenav-link-current-extra-information-text-color);
        }
    }

    li.disabled {
        cursor: not-allowed;

        .nav-link,
        .nav-step {
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
                cursor: not-allowed;
            }
        }

        &.current {
            background-color: transparent;
        }

        &.sidenav-error {
            background-color: color($sidenav-error-background-color);
        }
    }
}
