@use "../variables/variables" as vars;
@use "../functions/functions" as func;

.tab {
    display: inline-flex;
    margin-top: func.units(2);
    margin-bottom: func.units(3);
    margin-right: func.units(4);
    margin-left: func.units(0);
    padding-top: func.units(3);
    padding-bottom: func.units(3);
    padding-left: func.units(4);
    padding-right: func.units(4);
    text-decoration: none;
    color: func.color(vars.$tabsheet-text-color);
    background-color: func.color(vars.$tabsheet-inactive-background-color);
    border: func.border(vars.$tabsheet-border);
    border-color: func.color(vars.$tabsheet-default-border-color);
    border-radius: vars.$tabsheet-border-radius;

    &.active-tab {
        font-weight: func.font-weight("bold");
        background-color: func.color(vars.$tabsheet-active-background-color);
        border-bottom: func.units(2) solid func.color(vars.$tabsheet-border-bottom-color);
    }

    &:hover {
        background-color: func.color(vars.$tabsheet-hover-background-color);
    }

    .icon-svg {
        margin-right: func.units(3);
    }
}

a.tab {
    &:visited {
        color: func.color(vars.$tabsheet-text-color);
    }
}

.tab-container {
    margin-top: func.units(6);
    border-bottom: 1px solid func.color(vars.$tabsheet-default-border-color);
}