
.tabnav {
  @extend .accordion;
  @include media-breakpoint-up(md) {
    @include unstyled-list;
    list-style-type: none;
    padding: 0;
    position: relative;
    display: flex;
    border-bottom: $outer-border;
  }
  li {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      position: static;
      background-color: transparent;
      width: auto;
    }

    a {

      @extend .accordion-button;
      text-decoration: none;

      @include media-breakpoint-up(md) {

        display: block;
        color: $color-gray-001;
        text-align: center;
        text-decoration: none;
        padding: map-get($spacers, 4);
        padding-bottom: calc(#{map-get($spacers, 3) + 7px});
        margin-bottom: -1px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        background-color: transparent;

        &[aria-expanded=false]{
          background-image: none;
          border-radius: 0px;
          background-color: transparent;
        }

        &:hover {
          border-bottom: 7px solid $color-primary;
          padding-bottom: calc(#{map-get($spacers, 3)});
        }

        &:focus{
          outline: $focus-outline;
        }

        &[aria-expanded=true] {
          color: $color-primary;
          font-weight: $font-weight-semibold;
          border-top: $outer-border;
          border-right: $outer-border;
          border-left: $outer-border;
          background-color: $color-white;
          background-image: none;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      &:last-child{
        a{
          margin-right: map-get($spacers, 3);
        }
      }
    }
  }

  &-panel{
    @extend .accordion-content;
    @include media-breakpoint-up(md) {
      display: none;
      border-right: $outer-border;
      border-bottom: $outer-border;
      border-left: $outer-border;
      overflow: hidden;
      position: absolute;
      left: 0px;
      right: 0px;
      margin-bottom: calc(#{map-get($spacers, 4)});
      background-color: transparent;

    }
    &[aria-hidden=false]{
      display: block;
    }
  }
}
