@use "../variables/variables" as vars;
@use "../functions/functions" as func;
@use "../mixins/mixins" as mixins;

$-arrow-height: func.units(3);            // Must match arrowHeight in src\js\components\tooltip.js
$-arrow-dist-to-target: func.units(2);    // Must match arrowDistanceToTarget in src\js\components\tooltip.js

.tooltip-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    display: inline-block;
    vertical-align: bottom;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: calc($-arrow-height + $-arrow-dist-to-target);
        display: block;
    }
    
    &.place-above::before {
        top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
    }

    &.place-below::before {
        bottom: calc(0px - $-arrow-height - $-arrow-dist-to-target);
    }

    .tooltip {
        @include mixins.body-copy-text;
        font-size: func.font-size('sm');
        box-shadow: func.shadow(vars.$tooltip-shadow);
        background-color: func.color(vars.$tooltip-background-color);
        border: func.border(vars.$tooltip-border);
        border-radius: 4px;
        padding: func.units(2) func.units(3);
        position: absolute;
        z-index: vars.$zindex-tooltip;
        display: block;
        overflow-wrap: break-word;
    }

    .tooltip-arrow {
        pointer-events: none;

        &::before {
            content: '';
            border-right: calc($-arrow-height + 1px) solid transparent;
            border-left: calc($-arrow-height + 1px) solid transparent;
            display: block;
            position: absolute;
            left: calc(50% - $-arrow-height - 1px);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
            z-index: vars.$zindex-tooltip - 1;
        }

        &::after {
            content: '';
            border-right: $-arrow-height solid transparent;
            border-left: $-arrow-height solid transparent;
            display: block;
            position: absolute;
            left: calc(50% - $-arrow-height);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
            z-index: vars.$zindex-tooltip + 1;
        }
    }

    &.place-above .tooltip-arrow {
        &::before {
            border-top: $-arrow-height solid func.border-color(vars.$tooltip-border);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
        }

        &::after {
            border-top: calc($-arrow-height - 1px) solid func.color(vars.$tooltip-background-color);
            top: calc(0px - $-arrow-height - $-arrow-dist-to-target);
        }
    }

    &.place-below .tooltip-arrow {
        &::before {
            border-bottom: $-arrow-height solid func.border-color(vars.$tooltip-border);
            bottom: calc(0px - $-arrow-height - $-arrow-dist-to-target);
        }

        &::after {
            border-bottom: calc($-arrow-height - 1px) solid func.color(vars.$tooltip-background-color);
            bottom: calc(0px - $-arrow-height - $-arrow-dist-to-target);
        }
    }

    &.hide-tooltip {
        .tooltip, .tooltip-arrow {
            display: none;
        }

        &::before {
            display: none;
        }
    }
}

