@use "../values/fds-values" as fds;
@use "../mixins/typography-mixins" as typo;

.js-tooltip {
    display: inline-block;

    svg {
        pointer-events: none;
    }
}

.popover{
    cursor: pointer;
}
.tooltip-link{
  border-bottom: fds.$tooltip-link-border-width fds.$tooltip-link-border-style fds.color(fds.$tooltip-link-border-color);
  display: inline;
  text-decoration: none;
  &:link, &:active, &:hover, &:visited, &:focus{
    color: fds.color(fds.$tooltip-link-color);
  }
}
.tooltip{
  @include typo.body-copy-text;
  font-size: fds.font-size('sm');
  box-shadow: fds.shadow(fds.$tooltip-shadow);
  background-color: fds.color(fds.$tooltip-background-color);
  border: fds.border(fds.$tooltip-border);
  border-radius: 4px;
  padding: .3rem .6rem;
}

.tooltip-popper{
  position: absolute;
  max-width: 66ch;
}

.tooltip-popper .tooltip-arrow {
  position: absolute;
}
.tooltip-popper .tooltip-arrow.down{
    border-top:8px solid fds.border-color(fds.$tooltip-border);
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    bottom: -7px;
    left: calc(50% - 8px);

    &:after{
        content: '';
        border-top: 7px solid fds.color(fds.$tooltip-background-color);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        display: block;
        position: absolute;
        bottom: 1px;
        margin-left: -7px;
    }
}
.tooltip-popper .tooltip-arrow.up{
    border-bottom:8px solid fds.border-color(fds.$tooltip-border);
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    top: -7px;
    left: calc(50% - 8px);
    &:after{
        content: '';
        border-bottom: 7px solid fds.color(fds.$tooltip-background-color);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        display: block;
        position: absolute;
        top: 1px;
        margin-left: -7px;
    }
}