//
// Generates utility classes to control width in percent. 
// Example: .w-percent-100 .w-percent-md-30
//

$backgroundcolors: (
  normal: $color-white, //WHITE
  alternative: $color-gray-pale, //GRAY
  modal: $background-modal //BLACK
) !default;


@each $name, $color in $backgroundcolors { 
  .bg-#{$name}         { background: $color !important; background-color: $color !important;}
}
