@use "../../stylesheets/variables" as vars;
@use "../../stylesheets/functions" as func;

$em-base: 62.5% !default;

$theme-show-compile-warnings: true !default;
$theme-show-notifications: true !default;

$theme-use-custom-font: false !default;

$theme-border-radius: 3px !default;

$theme-color-disabled-dark: false !default;

$typography-font-size-2xs: 1.3rem !default;
$typography-font-size-xs: 1.4rem !default;
$typography-font-size-sm: 1.6rem !default;
$typography-font-size-md: 1.8rem !default;
$typography-font-size-lg: 2.0rem !default;
$typography-font-size-xl: 2.1rem !default;
$typography-font-size-2xl: 2.2rem !default;
$typography-font-size-3xl: 2.5rem !default;
$typography-font-size-4xl: 2.8rem !default;
$typography-font-size-5xl: 3.1rem !default;
$typography-font-size-6xl: 3.9rem !default;

$typography-font-weight-thin: false !default;
$typography-font-weight-extralight: false !default;
$typography-font-weight-light: false !default;
$typography-font-weight-normal: 400 !default;
$typography-font-weight-medium: 500 !default;
$typography-font-weight-semibold: 600 !default;
$typography-font-weight-bold: 700 !default;
$typography-font-weight-heavy: false !default;

$typography-h1-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal 
) !default;


$typography-h2-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

$typography-h3-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

$typography-h4-letter-spacing: (
    "default": normal,
    "md": normal,
    "lg": normal
) !default;

$typography-h5-letter-spacing: (
    "default": normal,
    "md": normal
) !default;

$typography-h6-letter-spacing: normal !default;

$accordion-button-open-icon: "add.svg" !default;
$accordion-button-closed-icon: "remove.svg" !default;
$accordion-button-border-radius: $theme-border-radius !default;
$accordion-button-open-border-radius: $theme-border-radius $theme-border-radius 0 0 !default;
$accordion-content-border-radius: 0 0 $theme-border-radius $theme-border-radius !default;

$alert-heading-lineheight: 5 !default;

$cards-heading-large-color: 'gray-600' !default;

$datepicker-icon-previous-year: "chevron-double-left" !default;
$datepicker-icon-next-year: "chevron-double-right" !default;
$datepicker-icon-previous-month: "chevron-left" !default;
$datepicker-icon-next-month: "chevron-right" !default;

$details-button-closed-icon: "arrow-right.svg" !default;
$details-button-open-icon: "arrow-drop-down.svg" !default;

$checkbox-border-radius: 2px !default;
$input-checkbox-border-radius: $checkbox-border-radius !default;
$input-checkbox-radio-small-size: 405 !default;
$input-checkbox-radio-large-size: 6 !default;
$input-checkbox-radio-content-padding-top: 4 !default;
$input-checkbox-radio-content-padding-bottom: 4 !default;
$input-checkbox-radio-content-padding-left: 405 !default;
$input-checkbox-radio-content-large-padding-left: 505 !default;
$input-checkbox-radio-content-border-width: 2 !default;

$input-border-radius: 4px !default;

$select-icon: "expand-more.svg" !default;

$header-border-bottom: 10 !default;
$header-portal-compact-logo-width: auto !default;

$navigation-link-information-text-color: 'ink-light' !default;
$navigation-link-hover-color: vars.$navigation-link-default-color !default;
$navigation-link-focus-color: vars.$navigation-link-default-color !default;
$navigation-link-current-color: vars.$navigation-link-default-color !default;
$navigation-link-default-border-width: 7px !default;
$navigation-link-default-border-color: 'transparent' !default;
$navigation-link-hover-border-color: $navigation-link-default-border-color !default;
$navigation-link-focus-border-color: $navigation-link-default-border-color !default;
$navigation-link-default-background-color: 'transparent' !default;
$navigation-link-hover-background-color: $navigation-link-default-background-color !default;
$navigation-link-focus-background-color: $navigation-link-default-background-color !default;
$navigation-link-current-background-color: $navigation-link-default-background-color !default;
$navigation-overflow-menu-open-background-color: 'white' !default;
$navigation-overflow-menu-open-background-color-desktop: 'gray-600' !default;
$navigation-overflow-menu-open-text-color: 'white' !default;
$navigation-overflow-menu-collapsed-icon: "add" !default;
$navigation-overflow-menu-collapsed-icon-desktop: "expand-more" !default;
$navigation-overflow-menu-expanded-icon: "remove" !default;
$navigation-overflow-menu-expanded-icon-desktop: "expand-more-white" !default;

$sidenav-border: 10 !default;
$sidenav-link-default-color: 'ink' !default;
$sidenav-link-hover-color: $sidenav-link-default-color !default;
$sidenav-link-active-color: $sidenav-link-default-color !default; 
$sidenav-link-current-color: $sidenav-link-default-color !default;
$sidenav-link-disabled-color: 'disabled' !default;
$sidenav-link-hover-background-color: 'gray-100' !default;
$sidenav-link-default-background-color: 'white' !default;
$sidenav-list-level1-border: 20 !default;
$sidenav-list-level2-border: 30 !default;
$sidenav-active-border-width: 4px !default;
$sidenav-active-border-color: 'primary' !default;
$sidenav-link-line-height: vars.$typography-base-line-height !default;

$tabnav-border: 10 !default;
$tabnav-background-color: 'white' !default;
$tavnav-button-default-background-color: 'gray-100' !default;
$tavnav-button-hover-background-color: 'gray-200' !default;
$tavnav-button-text-color: 'black' !default;

$toggle-default-background-color: 'gray-400' !default;
$toggle-hover-background-color: 'gray-500' !default;
$toggle-active-background-color: 'gray-600' !default;
$toggle-text-on: "Til" !default;
$toggle-text-off: "Fra" !default;
$toggle-shadow: 'light' !default;
$toggle-button-background-color: 'white' !default;
$toggle-button-on-default-background-color: 'primary' !default;
$toggle-button-on-hover-background-color: 'primary-dark' !default;
$toggle-button-on-active-background-color: 'primary-darker' !default;

$tooltip-background-color: 'white' !default;
$tooltip-border: 10 !default;

$system-border: (
  border: (
    10: (
      'width': 1px,
      'style': solid,
      'color': 'gray-500'
    ),
    20: (
      'width': 1px,
      'style': solid,
      'color': 'gray-300'
    ),
    30: (
      'width': 1px,
      'style': solid,
      'color': 'gray-200'
    )
  )
) !default;

$system-font-size: (
  font-size: (
    "2xs": $typography-font-size-2xs,
    "xs": $typography-font-size-xs,
    "sm": $typography-font-size-sm,
    "md": $typography-font-size-md,
    "lg": $typography-font-size-lg,
    "xl": $typography-font-size-xl,
    "2xl": $typography-font-size-2xl,
    "3xl": $typography-font-size-3xl,
    "4xl": $typography-font-size-4xl,
    "5xl": $typography-font-size-5xl,
    "6xl": $typography-font-size-6xl
  )
) !default;
$project-custom-font-size: () !default;

$system-font-weight: (
  font-weight: (
    "thin": $typography-font-weight-thin,
    "extralight": $typography-font-weight-extralight,
    "light": $typography-font-weight-light,
    "normal": $typography-font-weight-normal,
    "medium": $typography-font-weight-medium,
    "semibold": $typography-font-weight-semibold,
    "bold": $typography-font-weight-bold,
    "heavy": $typography-font-weight-heavy
  )
) !default;

$system-shadow: (
  shadow: (
    'light': (
      'h-offset': 0,
      'v-offset': 2px, 
      'blur': 4px,
      'spread': 0,
      'color': vars.$theme-color-shadow
      ),
    'medium': (
      'h-offset': 0,
      'v-offset': 4px, 
      'blur': 8px,
      'spread': 0,
      'color': vars.$theme-color-shadow
    ),
    'heavy': (
      'h-offset': 0,
      'v-offset': 8px, 
      'blur': 16px,
      'spread': 0,
      'color': vars.$theme-color-shadow)
  )
) !default;

/*
----------------------------------------
map-collect()
----------------------------------------
Collect multiple maps into a single
large map
source: https://gist.github.com/bigglesrocks/d75091700f8f2be5abfe
----------------------------------------
*/

@function map-collect($maps...) {
    $collection: ();
    @each $map in $maps {
      $collection: map-merge($collection, $map);
    }
  
    @return $collection;
}

$system-properties: map-collect($system-border, $system-font-size, $system-font-weight, $system-shadow) !default;

$system-color-data-blue: (
    "data-blue": (
        100: #F7FBFF,
        200: #DEEBF7,
        300: #C6DBEF,
        400: #9ECAE1,
        500: #6BAED6,
        600: #4292C6,
        700: #2171B5,
        800: #08519C,
        900: #08306B
    )
) !default;

$system-color-data-green-blue: (
    "data-green-blue": (
        100: #F7FCF0,
        200: #E0F3DB,
        300: #CCEBC5,
        400: #A8DDB5,
        500: #7BCCC4,
        600: #4EB3D3,
        700: #2B8CBE,
        800: #0868AC,
        900: #084081
    )
) !default;

$system-color-data-green: (
    "data-green": (
        100: #F7FCF5,
        200: #E5F5E0,
        300: #C7E9C0,
        400: #A1D99B,
        500: #74C476,
        600: #41AB5D,
        700: #238B45,
        800: #006D2C,
        900: #00441B
    )
) !default;

$system-color-data-orange: (
    "data-orange": (
        100: #FFF5EB,
        200: #FEE6CE,
        300: #FDD0A2,
        400: #FDAE6B,
        500: #FD8D3C,
        600: #F16913,
        700: #D94801,
        800: #A63603,
        900: #7F2704
    )
) !default;

$system-color-data-pink-violet: (
    "data-pink-violet": (
        100: #FFF7F3,
        200: #FDE0DD,
        300: #FCC5C0,
        400: #FA9FB5,
        500: #F768A1,
        600: #DD3497,
        700: #AE017E,
        800: #7A0177,
        900: #49006A
    )
) !default;

$system-color-data-violet: (
    "data-violet": (
        100: #FCFBFD,
        200: #EFEDF5,
        300: #DADAEB,
        400: #BCBDDC,
        500: #9E9AC8,
        600: #807DBA,
        700: #6A51A3,
        800: #54278F,
        900: #3F007D
    )
) !default;

$system-color-data-yellow-red: (
    "data-yellow-red": (
    100: #FFFFCC,
    200: #FFEDA0,
    300: #FED976,
    400: #FEB24C,
    500: #FD8D3C,
    600: #FC4E2A,
    700: #E31A1C,
    800: #BD0026,
    900: #800026
    )
) !default;

$system-color-blue: (
    "blue": (
        100: #e2f2fb,
        700: #1B86C3,
        800: #004D99,
        900: #000040
    )
) !default;

$system-color-gray: (
    "gray": (
    100: #F5F5F5,
    200: #DCDCDC,
    300: #BFBFBF,
    400: #999999,
    500: #747474,
    600: #454545,
    900: #1a1a1a
    )
) !default;

$system-color-green: (
    "green": (
    100: #eeffe2,
    700: #358000,
    )
) !default;

$system-color-orange: (
    "orange": (
        100: #ffeecc,
        700: #febb30
    )
) !default;

$system-color-purple: (
    "purple": (
        700: #800080
    )
) !default;

$system-color-red: (
    "red": (
        100: #ffe0e0,
        700: #CC0000
    )
) !default;

$system-color-black-transparent: (
  "black-transparent": (
    100: rgba(0, 0, 0, 0.01),
    200: rgba(0, 0, 0, 0.1),
    300: rgba(0, 0, 0, 0.2),
    400: rgba(0, 0, 0, 0.3),
    500: rgba(0, 0, 0, 0.4),
    600: rgba(0, 0, 0, 0.5),
    700: rgba(0, 0, 0, 0.6),
    800: rgba(0, 0, 0, 0.7),
    900: rgba(0, 0, 0, 0.8),
    950: rgba(0, 0, 0, 0.9)
  )
) !default;

$system-color-white-transparent: (
  "white-transparent": (
    100: rgba(255, 255, 255, 0.01),
    200: rgba(255, 255, 255, 0.1),
    300: rgba(255, 255, 255, 0.2),
    400: rgba(255, 255, 255, 0.3),
    500: rgba(255, 255, 255, 0.4),
    600: rgba(255, 255, 255, 0.5),
    700: rgba(255, 255, 255, 0.6),
    800: rgba(255, 255, 255, 0.7),
    900: rgba(255, 255, 255, 0.8),
    950: rgba(255, 255, 255, 0.9)
  )
) !default;
$theme-colors: () !default;

$system-colors: map-collect(
    $theme-colors,
    $system-color-blue,
    $system-color-gray,
    $system-color-green,
    $system-color-orange,
    $system-color-purple,
    $system-color-red,
    $system-color-data-blue,
    $system-color-data-green-blue,
    $system-color-data-green,
    $system-color-data-orange,
    $system-color-data-pink-violet,
    $system-color-data-violet,
    $system-color-data-yellow-red,
    $system-color-black-transparent,
    $system-color-white-transparent
) !default;

$color-data-blue-100: func.color('data-blue-100') !default;
$color-data-blue-200: func.color('data-blue-200') !default;
$color-data-blue-300: func.color('data-blue-300') !default;
$color-data-blue-400: func.color('data-blue-400') !default;
$color-data-blue-500: func.color('data-blue-500') !default;
$color-data-blue-600: func.color('data-blue-600') !default;
$color-data-blue-700: func.color('data-blue-700') !default;
$color-data-blue-800: func.color('data-blue-800') !default;
$color-data-blue-900: func.color('data-blue-900') !default;

$color-data-green-blue-100: func.color('data-green-blue-100') !default;
$color-data-green-blue-200: func.color('data-green-blue-200') !default;
$color-data-green-blue-300: func.color('data-green-blue-300') !default;
$color-data-green-blue-400: func.color('data-green-blue-400') !default;
$color-data-green-blue-500: func.color('data-green-blue-500') !default;
$color-data-green-blue-600: func.color('data-green-blue-600') !default;
$color-data-green-blue-700: func.color('data-green-blue-700') !default;
$color-data-green-blue-800: func.color('data-green-blue-800') !default;
$color-data-green-blue-900: func.color('data-green-blue-900') !default;

$color-data-green-100: func.color('data-green-100') !default;
$color-data-green-200: func.color('data-green-200') !default;
$color-data-green-300: func.color('data-green-300') !default;
$color-data-green-400: func.color('data-green-400') !default;
$color-data-green-500: func.color('data-green-500') !default;
$color-data-green-600: func.color('data-green-600') !default;
$color-data-green-700: func.color('data-green-700') !default;
$color-data-green-800: func.color('data-green-800') !default;
$color-data-green-900: func.color('data-green-900') !default;

$color-data-orange-100: func.color('data-orange-100') !default;
$color-data-orange-200: func.color('data-orange-200') !default;
$color-data-orange-300: func.color('data-orange-300') !default;
$color-data-orange-400: func.color('data-orange-400') !default;
$color-data-orange-500: func.color('data-orange-500') !default;
$color-data-orange-600: func.color('data-orange-600') !default;
$color-data-orange-700: func.color('data-orange-700') !default;
$color-data-orange-800: func.color('data-orange-800') !default;
$color-data-orange-900: func.color('data-orange-900') !default;

$color-data-pink-violet-100: func.color('data-pink-violet-100') !default;
$color-data-pink-violet-200: func.color('data-pink-violet-200') !default;
$color-data-pink-violet-300: func.color('data-pink-violet-300') !default;
$color-data-pink-violet-400: func.color('data-pink-violet-400') !default;
$color-data-pink-violet-500: func.color('data-pink-violet-500') !default;
$color-data-pink-violet-600: func.color('data-pink-violet-600') !default;
$color-data-pink-violet-700: func.color('data-pink-violet-700') !default;
$color-data-pink-violet-800: func.color('data-pink-violet-800') !default;
$color-data-pink-violet-900: func.color('data-pink-violet-900') !default;

$color-data-violet-100: func.color('data-violet-100') !default;
$color-data-violet-200: func.color('data-violet-200') !default;
$color-data-violet-300: func.color('data-violet-300') !default;
$color-data-violet-400: func.color('data-violet-400') !default;
$color-data-violet-500: func.color('data-violet-500') !default;
$color-data-violet-600: func.color('data-violet-600') !default;
$color-data-violet-700: func.color('data-violet-700') !default;
$color-data-violet-800: func.color('data-violet-800') !default;
$color-data-violet-900: func.color('data-violet-900') !default;

$color-data-yellow-red-100: func.color('data-yellow-red-100') !default;
$color-data-yellow-red-200: func.color('data-yellow-red-200') !default;
$color-data-yellow-red-300: func.color('data-yellow-red-300') !default;
$color-data-yellow-red-400: func.color('data-yellow-red-400') !default;
$color-data-yellow-red-500: func.color('data-yellow-red-500') !default;
$color-data-yellow-red-600: func.color('data-yellow-red-600') !default;
$color-data-yellow-red-700: func.color('data-yellow-red-700') !default;
$color-data-yellow-red-800: func.color('data-yellow-red-800') !default;
$color-data-yellow-red-900: func.color('data-yellow-red-900') !default;

$color-blue-100: func.color('blue-100') !default;
$color-blue-700: func.color('blue-700') !default;
$color-blue-800: func.color('blue-800') !default;
$color-blue-900: func.color('blue-900') !default;

$color-gray-100: func.color('gray-100') !default;
$color-gray-200: func.color('gray-200') !default;
$color-gray-300: func.color('gray-300') !default;
$color-gray-400: func.color('gray-400') !default;
$color-gray-500: func.color('gray-500') !default;
$color-gray-600: func.color('gray-600') !default;
$color-gray-900: func.color('gray-900') !default;

$color-green-100: func.color('green-100') !default;
$color-green-700: func.color('green-700') !default;

$color-orange-100: func.color('orange-100') !default;
$color-orange-700: func.color('orange-700') !default;

$color-purple-700: func.color('purple-700') !default;

$color-red-100: func.color('red-100') !default;
$color-red-700: func.color('red-700') !default;

$color-black-transparent-100: func.color('black-transparent-100') !default;
$color-black-transparent-200: func.color('black-transparent-200') !default;
$color-black-transparent-300: func.color('black-transparent-300') !default;
$color-black-transparent-400: func.color('black-transparent-400') !default;
$color-black-transparent-500: func.color('black-transparent-500') !default;
$color-black-transparent-600: func.color('black-transparent-600') !default;
$color-black-transparent-700: func.color('black-transparent-700') !default;
$color-black-transparent-800: func.color('black-transparent-800') !default;
$color-black-transparent-900: func.color('black-transparent-900') !default;
$color-black-transparent-950: func.color('black-transparent-950') !default;

$color-white-transparent-100: func.color('white-transparent-100') !default;
$color-white-transparent-200: func.color('white-transparent-200') !default;
$color-white-transparent-300: func.color('white-transparent-300') !default;
$color-white-transparent-400: func.color('white-transparent-400') !default;
$color-white-transparent-500: func.color('white-transparent-500') !default;
$color-white-transparent-600: func.color('white-transparent-600') !default;
$color-white-transparent-700: func.color('white-transparent-700') !default;
$color-white-transparent-800: func.color('white-transparent-800') !default;
$color-white-transparent-900: func.color('white-transparent-900') !default;
$color-white-transparent-950: func.color('white-transparent-950') !default;

$system-color-shortcodes: (
  "transparent": transparent,
  "black": $color-gray-900,
  "white": white,
  "blue-100": $color-blue-100,
  "blue-700": $color-blue-700,
  "blue-800": $color-blue-800,
  "blue-900": $color-blue-900,
  "gray-100": $color-gray-100,
  "gray-200": $color-gray-200,
  "gray-300": $color-gray-300,
  "gray-400": $color-gray-400,
  "gray-500": $color-gray-500,
  "gray-600": $color-gray-600,
  "gray-900": $color-gray-900,
  "green-100": $color-green-100,
  "green-700": $color-green-700,
  "orange-100": $color-orange-100,
  "orange-700": $color-orange-700,
  "purple-700": $color-purple-700,
  "red-100": $color-red-100,
  "red-700": $color-red-700,
  "data-blue-100": $color-data-blue-100,
  "data-blue-200": $color-data-blue-200,
  "data-blue-300": $color-data-blue-300,
  "data-blue-400": $color-data-blue-400,
  "data-blue-500": $color-data-blue-500,
  "data-blue-600": $color-data-blue-600,
  "data-blue-700": $color-data-blue-700,
  "data-blue-800": $color-data-blue-800,
  "data-blue-900": $color-data-blue-900,
  "data-green-blue-100": $color-data-green-blue-100,
  "data-green-blue-200": $color-data-green-blue-200,
  "data-green-blue-300": $color-data-green-blue-300,
  "data-green-blue-400": $color-data-green-blue-400,
  "data-green-blue-500": $color-data-green-blue-500,
  "data-green-blue-600": $color-data-green-blue-600,
  "data-green-blue-700": $color-data-green-blue-700,
  "data-green-blue-800": $color-data-green-blue-800,
  "data-green-blue-900": $color-data-green-blue-900,
  "data-green-100": $color-data-green-100,
  "data-green-200": $color-data-green-200,
  "data-green-300": $color-data-green-300,
  "data-green-400": $color-data-green-400,
  "data-green-500": $color-data-green-500,
  "data-green-600": $color-data-green-600,
  "data-green-700": $color-data-green-700,
  "data-green-800": $color-data-green-800,
  "data-green-900": $color-data-green-900,
  "data-orange-100": $color-data-orange-100,
  "data-orange-200": $color-data-orange-200,
  "data-orange-300": $color-data-orange-300,
  "data-orange-400": $color-data-orange-400,
  "data-orange-500": $color-data-orange-500,
  "data-orange-600": $color-data-orange-600,
  "data-orange-700": $color-data-orange-700,
  "data-orange-800": $color-data-orange-800,
  "data-orange-900": $color-data-orange-900,
  "data-pink-violet-100": $color-data-pink-violet-100,
  "data-pink-violet-200": $color-data-pink-violet-200,
  "data-pink-violet-300": $color-data-pink-violet-300,
  "data-pink-violet-400": $color-data-pink-violet-400,
  "data-pink-violet-500": $color-data-pink-violet-500,
  "data-pink-violet-600": $color-data-pink-violet-600,
  "data-pink-violet-700": $color-data-pink-violet-700,
  "data-pink-violet-800": $color-data-pink-violet-800,
  "data-pink-violet-900": $color-data-pink-violet-900,
  "data-violet-100": $color-data-violet-100,
  "data-violet-200": $color-data-violet-200,
  "data-violet-300": $color-data-violet-300,
  "data-violet-400": $color-data-violet-400,
  "data-violet-500": $color-data-violet-500,
  "data-violet-600": $color-data-violet-600,
  "data-violet-700": $color-data-violet-700,
  "data-violet-800": $color-data-violet-800,
  "data-violet-900": $color-data-violet-900,
  "data-yellow-red-100": $color-data-yellow-red-100,
  "data-yellow-red-200": $color-data-yellow-red-200,
  "data-yellow-red-300": $color-data-yellow-red-300,
  "data-yellow-red-400": $color-data-yellow-red-400,
  "data-yellow-red-500": $color-data-yellow-red-500,
  "data-yellow-red-600": $color-data-yellow-red-600,
  "data-yellow-red-700": $color-data-yellow-red-700,
  "data-yellow-red-800": $color-data-yellow-red-800,
  "data-yellow-red-900": $color-data-yellow-red-900,
  "black-transparent-100": $color-black-transparent-100,
  "black-transparent-200": $color-black-transparent-200,
  "black-transparent-300": $color-black-transparent-300,
  "black-transparent-400": $color-black-transparent-400,
  "black-transparent-500": $color-black-transparent-500,
  "black-transparent-600": $color-black-transparent-600,
  "black-transparent-700": $color-black-transparent-700,
  "black-transparent-800": $color-black-transparent-800,
  "black-transparent-900": $color-black-transparent-900,
  "black-transparent-950": $color-black-transparent-950,
  "white-transparent-100": $color-white-transparent-100,
  "white-transparent-200": $color-white-transparent-200,
  "white-transparent-300": $color-white-transparent-300,
  "white-transparent-400": $color-white-transparent-400,
  "white-transparent-500": $color-white-transparent-500,
  "white-transparent-600": $color-white-transparent-600,
  "white-transparent-700": $color-white-transparent-700,
  "white-transparent-800": $color-white-transparent-800,
  "white-transparent-900": $color-white-transparent-900,
  "white-transparent-950": $color-white-transparent-950
) !default;

$project-colors: (
  "primary": (
    "lightest": false,
    "lighter": false,
    "light": false,
    "default": func.color('primary'),
    "dark": func.color('primary-dark'),
    "darker": func.color('primary-darker'),
    "darkest": false
  )
) !default;

$project-state-colors: (
  "error": (
    "light": func.color('red-100'),
    "default": func.color('red-700'),
  ),
  "warning": (
    "light": func.color('orange-100'),
    "default": func.color('orange-700'),
  ),
  "success": (
    "light": func.color('green-100'),
    "default": func.color('green-700'),
  ),
  "info": (
    "light": func.color('blue-100'),
    "default": func.color('blue-700'),
  ),
  "disabled": (
    "light": func.color('gray-400'),
    "default": func.color('gray-600'),
  )
) !default;

$all-project-colors: map-collect($project-colors, $project-state-colors) !default;

$tokens-color-theme: (
  "ink": func.color('ink'),
  "ink-light": func.color('ink-light'),
  "primary-lightest": false,
  "primary-lighter": false,
  "primary-light": false,
  "primary": func.color('primary'),
  "primary-dark": func.color('primary-dark'),
  "primary-darker": func.color('primary-darker'),
  "primary-darkest": false,
) !default;

$tokens-color-state: (
  "error-light": func.color('red-100'),
  "error": func.color('red-700'),
  "warning-light": func.color('orange-100'),
  "warning": func.color('orange-700'),
  "success-light": func.color('green-100'),
  "success": func.color('green-700'),
  "info-light": func.color('blue-100'),
  "info": func.color('blue-700'),
  "disabled-light": func.color('gray-400'),
  "disabled": func.color('gray-600'),
  "disabled-dark": false,
) !default;

$project-color-shortcodes: map-collect(
    $tokens-color-theme,
    $tokens-color-state
) !default;

$all-color-shortcodes: map-collect(
    $system-color-shortcodes,
    $project-color-shortcodes
) !default;