// Virkdk theme

@use '../../stylesheets/themes/virkdk' as virk;
@forward '../../stylesheets/variables' with (
    $theme-color-primary:               virk.$theme-color-primary !default,
    $theme-color-primary-dark:          virk.$theme-color-primary-dark !default,
    $theme-color-primary-darker:        virk.$theme-color-primary-darker !default,
    $header-portal-logo:                virk.$header-portal-logo !default,
    $header-portal-logo-height:         virk.$header-portal-logo-height !default,
    $header-portal-logo-width:          virk.$header-portal-logo-width !default,
    $header-portal-compact-logo-width:  virk.$header-portal-compact-logo-width !default
);
@forward "../../stylesheets/values";
@forward "../../stylesheets/functions";
@forward "../../stylesheets/mixins";

@use 'dkfds-base-DEPRECATED';

@use 'components/inputs-DEPRECATED';
@use 'components/alerts-DEPRECATED';
@use 'components/header-DEPRECATED';
@use 'components/navigation-DEPRECATED';
@use 'components/sidenav-DEPRECATED';
@use 'components/overflow-menu-DEPRECATED';
@use 'components/table-DEPRECATED';
@use 'components/toggle-DEPRECATED';
@use 'components/tooltip-DEPRECATED';
@use 'components/tabnav-DEPRECATED';

@use 'print-DEPRECATED';