// Borgerdk theme

@use '../../stylesheets/themes/borgerdk' as borger;
@forward '../../stylesheets/variables' with (
    $custom-colors:                     borger.$custom-colors !default,
    $theme-color-primary:               borger.$theme-color-primary !default,
    $theme-color-primary-dark:          borger.$theme-color-primary-dark !default,
    $theme-color-primary-darker:        borger.$theme-color-primary-darker !default,
    $header-portal-background-color:    borger.$header-portal-background-color !default,
    $header-portal-logo:                borger.$header-portal-logo !default,
    $header-portal-logo-height:         borger.$header-portal-logo-height !default,
    $header-portal-compact-logo-width:  borger.$header-portal-compact-logo-width !default
);
@forward "../../stylesheets/values";
@forward "../../stylesheets/functions";
@forward "../../stylesheets/mixins";

@use 'dkfds-base-DEPRECATED';

@use 'components/inputs-DEPRECATED';
@use 'components/alerts-DEPRECATED';
@use 'components/header-DEPRECATED';
@use 'components/navigation-DEPRECATED';
@use 'components/sidenav-DEPRECATED';
@use 'components/overflow-menu-DEPRECATED';
@use 'components/table-DEPRECATED';
@use 'components/toggle-DEPRECATED';
@use 'components/tooltip-DEPRECATED';
@use 'components/tabnav-DEPRECATED';

@use 'print-DEPRECATED';