/*
----------------------------------------
GENERAL SETTINGS
----------------------------------------
*/


/*
----------------------------------------
Show compile warnings
----------------------------------------
Show Sass warnings when functions and
mixins use non-standard tokens.
AND
Show updates and notifications.
----------------------------------------
*/

$theme-show-compile-warnings: true !default;
$theme-show-notifications: true !default;


/*
----------------------------------------
Focus styles
----------------------------------------
*/

$theme-focus-color: 'gray-500' !default;
$theme-focus-offset: 1px !default;
$theme-focus-style: solid !default;
$theme-focus-width: 4px !default;



$border-radius:                 3px !default;

/*
// DEPRECATED
// 44 x 44 pixels hit target following Apple iOS Human Interface
$hit-area:                      4.4rem !default;
$interactive-border-radius:     4px;
$checkbox-small-height:         rem-calc(18) !default;
$checkbox-small-width:          rem-calc(18) !default;
$checkbox-small-lineheight:      rem-calc(24) !default;
$label-border-radius:           2px !default;
$article-max-width:             600px !default;
$site-max-width:                $grid-xl !default; // 1200px
$site-margins:                  ($grid-gutter-width / 2) !default;
$site-margins-mobile:           1.5rem !default;
$color-transparent:           rgba(#000, 0) !default;

$color-border:                $color-gray-003 !default;
$color-border-light:          $color-gray-006 !default;
$color-border-bright:         $color-base-001 !default;
$color-border-focus:          $color-gray-004 !default;

$color-alt-background:        $color-gray-006 !default;
$color-alt-background-hover:  $color-blue-004 !default;
$color-alt-table-header:      $color-gray-004 !default;
$color-required:              $color-red-001 !default;
$color-page:                  $color-base-001 !default;

$color-header-background:     $color-gray-006 !default;

// Header, footer & navigation colors
$color-footer-background:     $color-gray-002 !default;
$color-topmenu-background:    $color-gray-002!default;

// Default neutral color-scheme (the neutral one that is neither virk.dk nor borger.dk)
$color-neutral:               $color-gray-002 !default;
$color-neutral-darker:        $color-base-002 !default;
$color-neutral-darkest:       $color-base-002 !default;
$color-neutral-lightest:      $color-gray-004 !default; //TODO, need base color for lightest

// Text color
$color-text-bright:           $color-gray-006 !default;

$color-background:            $color-gray-006 !default;


// worked
$focus-outline: 4px solid $color-gray-medium-dark !default;
$focus-spacing: 1px !default;
$color-subnav-background:     $color-gray-002!default;

$color-focus: $color-gray-medium-dark !default;

*/