$color-success:               $color-green-003 !default;
$color-success-light:         $color-green-004 !default;
$color-warning:               $color-orange-004 !default;
$color-warning-light:         $color-orange-005 !default;
$color-error:                 $color-red-001 !default;
$color-error-light:           $color-red-002 !default;
$color-info:                  $color-blue-008 !default;
$color-info-light:            $color-blue-004 !default;

// Special text colors
$color-text-positive:         $color-green-005 !default;
$color-text-negative:         $color-red-001 !default;

$color-positive:              $color-green-005 !default;
$color-negative:              $color-red-001 !default;

// Link colors
$color-link:                  $color-blue-001 !default;
$color-link-hover:            $color-blue-003 !default;
$color-link-focus:            $color-blue-001 !default;
$color-link-visited:          $color-purple-001 !default;