{% macro toast(params) %}
<div class="toast toast-{{params.type}}{% if params.show %} show{% endif %}" id="{{params.id}}" aria-live="assertive" aria-atomic="true">
    <div class="toast-icon"></div>
    <div class="toast-message">
        {% if params.heading %}<p class="bold">{{params.heading}}</p>{% endif %}
        <button class="toast-close">Luk</button>
        {% if params.content %}<p>{{params.content}}</p>{% endif %}
    </div>
</div>
{% endmacro %}
