{% macro toast(data) %}
<div class="toast toast-{{data.type}}{% if data.show %} show{% endif %}" id="{{data.id}}" role="status">
    <div class="toast-icon"></div>
    <div class="toast-message">
        {% if data.heading %}<p class="bold">{{data.heading}}</p>{% endif %}
        <button class="toast-close">Luk</button>
        {% if data.content %}<p>{{data.content}}</p>{% endif %}
    </div>
</div>
{% endmacro %}
