{% macro languageSwitcher(params) %}
    <div class="language-switcher">
      <div class="container">
        <ul aria-label="{{ params.ariaLabel | default("Vælg sprog") }} ">
          {%- for language in params.languages -%}
          <li><a href="{{ language.href }}" lang="{{language.code}}" {% if language.tooltip %}class="js-tooltip" data-tooltip="{{language.tooltip}}"{% endif %} {% if loop.first %}aria-label="{{ params.firstAriaLabel | default("Valgt sprog: Dansk")}}"{% endif %}>{% if loop.first %}<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>{% endif %}{{language.name}}</a></li>
          {% endfor -%}
        </ul>
      </div>
    </div>
{% endmacro %}