{% macro languageSwitcher(params) %}
<div class="language-switcher">
    <div class="container">
        <ul aria-label="{{ params.ariaLabel | default("Vælg sprog") }} ">
            {%- for language in params.languages -%}
            <li><a href="{{ language.href }}" lang="{{language.code}}" {% if language.tooltip %}class="js-tooltip" data-tooltip="{{language.tooltip}}"{% endif %} {% if loop.first %}aria-label="{{ params.firstAriaLabel | default("Valgt sprog: Dansk")}}"{% endif %}>{% if loop.first %}<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>{% endif %}{{language.name}}</a></li>
            {% endfor -%}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro languageSwitcherHeader(params) %}
<div class="language-switcher-header">
    <div class="container">
        <div class="overflow-menu overflow-menu--open-right">
            <button class="button-overflow-menu js-dropdown select-language-button" data-js-target="header-language" aria-haspopup="true" aria-expanded="false">
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#language"></use></svg>Dansk
            </button>
            <div class="overflow-menu-inner select-language-list" id="header-language" aria-hidden="true">
                <ul class='overflow-list'>
                    <li><a href="?lang=da" lang="da" aria-label="Valgt sprog: Dansk">
                        <svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>Dansk</a>
                    </li>
                    <li><a href="?lang=en-GB" lang="en-GB">English</a></li>
                    <li><a href="?lang=de" lang="de">Deutsch</a></li>
                    <li><a href="?lang=pl" lang="pl">Polski</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro languageSwitcherMobile(params) %}
<div class="language-switcher-mobile">
    <h3>Valgt sprog</h3>
    <ul>
        {%- for language in params.languages -%}
        <li><a href="{{ language.href }}" lang="{{language.code}}" {% if language.tooltip %}class="js-tooltip" data-tooltip="{{language.tooltip}}"{% endif %} {% if loop.first %}aria-label="{{ params.firstAriaLabel | default("Valgt sprog: Dansk")}}"{% endif %}>{% if loop.first %}<svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#done"></use></svg>{% endif %}{{language.name}}</a></li>
        {% endfor -%}
    </ul>
</div>
{% endmacro %}