{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro cardActions(params) %}
<div class="card-actions">
    {%- if params.links and not params.navigationCard -%}
    <ul class="nobullet-list">
        {%- for link in params.links -%}
        <li><a href="{{ link.href }}"{% if link.external %} class="icon-link" target="_blank"{% endif %}>{{ link.text }}{% if link.external %}{{icon_svg({"name": 'open-in-new', "ariaLabel": "(åbner i nyt vindue)"})}}{% endif %}</a></li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
    {%- if params.buttons and not params.navigationCard -%}
    <div class="button-group">
        {%- for b in params.buttons -%}
        {{ 
            button({
                "variant": b.variant,
                "text": b.text
            })
        }}
        {%- endfor -%}
    </div>
    {%- endif -%}
    {%- if params.navigationCard.external -%}
    {{ icon_svg({"name": 'open-in-new', "ariaLabel": "(åbner i nyt vindue)"}) }}
    {%- elseif params.navigationCard -%}
    {{ icon_svg({"name": 'arrow-forward'}) }}
    {%- endif -%}
</div>
{% endmacro %}

{% macro card(params) %}
{%- if params.outerTag -%}
<{{ params.outerTag }} class="card-wrapper">
{%- endif -%}
{%- if params.navigationCard -%}
<a class="card{% if params.long %} long{% endif %}{% if params.classes %} {{params.classes}}{% endif %}" href="{{params.navigationCard.href}}"{% if params.id %} id="{{params.id}}"{% endif %}{% if params.navigationCard.external %} target="_blank"{% endif %}>
{%- else -%}
<{{ params.innerTag | default('div') }} class="card{% if params.long %} long{% endif %}{% if params.classes %} {{params.classes}}{% endif %}"{% if params.id %} id="{{params.id}}"{% endif %}>
{%- endif -%}
    {%- if params.image -%}
    <div class="card-image"{% if params.image.placeholder %} {{ params.image.placeholder | safe }}{% endif %}>
        {%- if params.image.src -%}
        <img src='{{ params.image.src }}' alt='{{ params.image.alt }}'>
        {%- elseif params.image.placeholder -%}
        <div style="width: 100%; align-self: center;">
            <div class="spinner" style="margin: 24px auto; font-size: 4px;"></div>
            <div class="spinner-status">Billede indlæses...</div>
        </div>
        {%- endif -%}
    </div>
    {%- endif -%}
    <div class="card-content">
        {%- if params.subheading -%}
        <span class="subheading">{{ params.subheading }}</span>
        {%- endif -%}
        {%- if params.heading -%}
        <{{ params.headingLevel | default('h2') }}>{{ params.heading }}</{{ params.headingLevel | default('h2') }}>
        {%- endif -%}
        {%- if params.content -%}
        {{ params.content | safe }}
        {%- endif -%}
        {%- if not params.navigationCard and params.long and (params.links or params.buttons) -%}
        {{ cardActions(params) }}
        {%- endif -%}
    </div>
    {%- if (not params.long and (params.links or params.buttons)) or params.navigationCard -%}
    {{ cardActions(params) }}
    {%- endif -%}
{%- if params.navigationCard -%}
</a>
{%- else -%}
</{{ params.innerTag | default('div') }}>
{%- endif -%}
{%- if params.outerTag -%}
</{{ params.outerTag }}>
{%- endif -%}
{% endmacro %}

