{% from "components/form/controls/helptext.njk" import helptext as helptext %}
{% from "components/form/controls/helptext.njk" import helptext_id as helptext_id %}
{% from "components/form/controls/label.njk" import label as label %}

{% macro radiobutton(params) %}
{% set isLarge = params.isLarge | default(true) %}
{% set collapseId = params.id + '-collapse' %}
<div class="form-group-radio{% if params.classes.formgroupradio %} {{params.classes.formgroupradio}}{% endif %}"{% if params.attributes.formgroupradio %} {{ params.attributes.formgroupradio | safe }}{% endif %}>
    {% if params.label and params.id and params.name and params.value %}<input type="radio" id="{{params.id}}" name="{{params.name}}" class="form-radio{% if isLarge %} radio-large{% endif %}{% if params.classes.input %} {{params.classes.input}}{% endif %}" value="{{params.value}}"{% if params.helptext %} aria-describedby="{{helptext_id(params.id)}}" {% endif %}{% if params.disabled %} disabled{% endif %}{% if params.checked %} checked{% endif %}{% if params.hiddenContent %} data-controls="#{{collapseId}}"{% if params.checked %} data-expanded="true" {% else %} data-expanded="false" {% endif %}{% endif %}{% if params.attributes.input %} {{ params.attributes.input | safe }}{% endif %}>
    {{ 
        label({
            "text": params.label,
            "classes": params.classes.label,
            "for": params.id,
            "attributes": params.attributes.label,
            "srOnly": params.srOnly 
        })
    }}{%- endif -%}
    {% if params.helptext %}{{ helptext({ text: params.helptext, id: params.id }) }}{% endif %}
</div>
{% if params.hiddenContent %}<div id="{{collapseId}}"{% if params.checked %} aria-hidden="false" {% else %} aria-hidden="true"{% endif %} class="radio-content{% if isLarge %} radio-content-large{% endif %}">
    {{ params.hiddenContent | safe }}
</div>{% endif %}
{% endmacro %}