{% macro cookie_message(message, accept, decline) %}
<div class="cookie-container">
  <div class="cookie-message">
    <div class="cookie-text">
      <h2 class="h5 mt-0">Cookies</h2>
      <p>{{ message | safe }}</p>
    </div>
    <div class="cookie-actions">
      <ul class="inline-list">
        <li>
          <a href="#" class="button button-secondary">{{ accept }}</a>
        </li>
        <li>
          <a href="#" class="ml-md-4 button button-tertiary">{{ decline }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro %}
