{% macro modal(modal_data) %}
	<div class="modal" id="{{ modal_data.id | default('modal-id-1') }}" aria-hidden="true">
    <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="{{ modal_data.title_id | default('modal-id-1-title') }}">
      <div class="modal-header">
        <h1 class="modal-title h2" id="{{ modal_data.title_id | default('modal-id-1-title') }}">
          {{ modal_data.title | default('Modal title') }}
        </h1>
      </div>
      <div class="modal-body">
        {{ modal_data.content | safe }}
      </div>
      {% if  modal_data.actions %}
      <div class="modal-footer">
        {{ modal_data.actions | safe }}
      </div>
      {% endif %}
      <button class="modal-close button button-secondary" aria-label="Close modal" data-modal-close>{{ modal_data.close_text  | default('Luk') }}</button>
    </div>
	</div>
{% endmacro %}
