{% macro modal(modal_data) %}
	<div class="fds-modal" id="{{ modal_data.id | default('modal-id-1') }}" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="{{ modal_data.title_id | default('modal-id-1-title') }}">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="{{ modal_data.title_id | default('modal-id-1-title') }}">
          {{ modal_data.title | default('Modal title') }}
        </h2>
        <button class="modal-close function-link" data-modal-close><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#close"></use></svg>Luk</button>
      </div>
      <div class="modal-body">
        {{ modal_data.content | safe }}
      </div>
      {% if  modal_data.actions %}
      <div class="modal-footer">
        {{ modal_data.actions | safe }}
      </div>
      {% endif %}
    </div>
	</div>
{% endmacro %}
