{% macro modal(modal_id,modal_data) %}
<div class="modal bg-modal" id="{{ modal_id | default('modal-id-1') }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id | default('modal-id-1') }}-heading" aria-modal="true">
  <div tabindex="0"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h2" id="{{ modal_id | default('modal-id-1') }}-heading">{{ modal_data.modal_title | default('Modal title') }}</h1>
        <button type="button" class="close button button-secondary" data-dismiss="modal">
          {{ modal_data.modal_close_text  | default('Luk') }}
        </button>
      </div>
      <div class="modal-body">
					{{ modal_data.modal_content | safe }}
      </div>
      <div class="modal-footer">
					{{ modal_data.modal_actions | safe }}
      </div>
    </div>
  </div>
  <div tabindex="0"></div>
</div>

{% endmacro %}
