{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro portal_header(params) %}
  <!--1A: Portal header -->
  <div class="portal-header {% if params.compact == true %}portal-header-compact{% endif %}">
    <div class="container portal-header-inner">
      <a href="{{ params.logolink.href | default('/') }}" {% if params.logolink.title %}title="{{ params.logolink.title}}"{% endif %} {% if params.logolink.label %}aria-label="{{ params.logolink.label }}"{% endif %} class="logo {{params.logolink.classes}}">
        {% if params.logolink.sronly %}<span class="sr-only">{{ params.logolink.sronly}}</span>{% endif %}
      </a>
      <button class="function-link button-menu-open js-menu-open ml-auto d-print-none" aria-haspopup="menu" title="Åben mobil menu"><svg class="icon-svg" focusable="false" aria-hidden="true"><use xlink:href="#menu"></use></svg>Menu</button>

      <!-- 1B: Portal header: info + actions-->
      <div class="portal-info">
        {% if params.user %}
          <p class="user"><span class="username{% if params.compact == null or params.compact == false %} weight-semibold{% endif %}">{{ params.user.name | safe }}</span> {% if params.user.work %}<br />{{ params.user.work}}  {% endif %}</p>
        {% endif %}
         <button class="button {{ params.link.classes | default('button-secondary') }} d-print-none">
          {{ params.link.text | default('Log af') }}
        </button>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro solution_header(params) %}
  <!--2A: Solution header -->
  <div class="solution-header {{ params.classes | default('header-end') }}">
    <div class="container solution-header-inner">
      <div class="solution-heading">
        <a href="{{ params.title.href | default('/') }}"  {% if params.title.ariaLabel %}aria-label="{{ params.title.ariaLabel }}"{% endif %} class="{{params.title.classes}}">
          {{ params.title.text }}
        </a>
      </div>

      <!--2B: Solution header: Authority name + text-->
      <div class="solution-info {% if params.solutionInfo.hideOnPrint %}d-print-none{% endif %}"> <!-- nav-secondary -->
        {% if params.authority.name %}
          <p class="h5 authority-name"> {{ params.authority.name }}</p>
        {% endif %}
        {% if params.authority.text %}
          <p>{{ params.authority.text | safe }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
