{% from "components/buttons/buttons.njk" import button as button %}
{% from "components/header/menu-buttons.njk" import menu_open_button as menu_open_button %}
{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}


{% macro portal_info(params) %}
<div class="portal-info">
    <div class="portal-info-inner container">
        <a href="{{ params.logolink.href | default('/') }}"{% if params.logolink.title %} title="{{ params.logolink.title}}"{% endif %}{% if params.logolink.label %} aria-label="{{ params.logolink.label }}"{% endif %} class="logo{% if params.logolink.classes %} {{ params.logolink.classes }}{% endif %}">
            <span>{{ params.logolink.label }}</span>
        </a>
        {{- menu_open_button() }}
        <div class="portal-user">
            {%- if params.user %}
            <p class="user">
            {%- if params.user.name and params.user.info %}
                {{ params.user.name }}, {{ params.user.info }}
            {%- elif params.user.name %}
                {{ params.user.name }}
            {%- endif %}
            </p>
            {% endif %}
            {% set buttonText = params.button.text | default('Log af') %}
            {{- 
                button({
                    "variant": "secondary",
                    "text": buttonText,
                    "classes": { "button": "d-print-none" }
                }) 
            }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro mobile_portal_info(params) %}
<div class="portal-info-mobile">
    {% if params.user %}
    <p class="user">
    {% if params.user.name and params.user.info %}
        <span>{{ params.user.name }}</span>
        <span>{{ params.user.info }}</span>
    {% elif params.user.name %}
        {{ params.user.name }}
    {% endif %}
    </p>
    {% endif %}
    {% set buttonText = params.button.text | default('Log af') %}
    {{ 
        button({
            "variant": "secondary",
            "text": buttonText,
            "classes": { "button": "d-print-none mt-3" }
        }) 
    }}
</div>
{% endmacro %}

{% macro solution_info(params) %}
<div class="solution-info">
    <div class="solution-info-inner container">
        <div class="solution-heading">
            <a href="{{ params.title.href | default('/') }}"{% if params.title.ariaLabel %} aria-label="{{ params.title.ariaLabel }}"{% endif %}{% if params.title.classes %} class="{{params.title.classes}}"{% endif %}>{{ params.title.text }}</a>
        </div>
        {% if params.menu %}
        {{- menu_open_button() }}
        {% endif %}
        {% if params.authority %}
        <div class="additional-info{% if params.hideOnPrint %} d-print-none{% endif %}">
            {% if params.authority.name %}
            <p><strong class="authority-name">{{ params.authority.name }}</strong></p>
            {% endif %}
            {% if params.authority.text %}
            <p>{{ params.authority.text | safe }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro mobile_solution_info(params) %}
<div class="solution-info-mobile">
    {% if params.authority.name %}
    <p class="mb-2"><strong class="authority-name">{{ params.authority.name }}</strong></p>
    {% endif %}
    {% if params.authority.text %}
    <p>{{ params.authority.text | safe }}</p>
    {% endif %}
</div>
{% endmacro %}

{% macro navigation_menu(params) %}
<nav class="navigation-menu">
    <div class="navigation-menu-inner container">
        <ul class="mainmenu">
            <li>
                <a href="#" class="nav-link">
                    <span>Første menupunkt</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <span>Andet menupunkt</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <span>Tredje menupunkt</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <span>Fjerde menupunkt</span>
                </a>
            </li>
            <li class="active">
                <div class="submenu">
                    <button class="nav-link button-overflow-menu js-dropdown" data-js-target="headeroverflow1" aria-haspopup="true" aria-expanded="false">
                        <span>Femte menupunkt</span>
                    </button>
                    <div class="overflow-menu-inner collapsed" id="headeroverflow1" aria-hidden="true">
                        <ul class="overflow-list">
                            <li class="active current">
                                <a href="#" class="nav-link" aria-current="page"><span>Subsektion med en meget
                                        lang titel som går i flere linier</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link"><span>Subsektiontitel</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link"><span>Subsektiontitel</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link"><span>Subsektiontitel som
                                        også er forholdsvis lang</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
{% endmacro %}

{% macro mobile_navigation_menu(params) %}
<nav class="navigation-menu-mobile">
    <ul class="mainmenu">
        <li>
            <a href="#" class="nav-link">
                <span>Første menupunkt</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Andet menupunkt</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Tredje menupunkt</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span>Fjerde menupunkt</span>
            </a>
        </li>
        <li class="active">
            <div class="submenu">
                <button class="nav-link button-mobile-menu js-menudropdown" data-js-target="headeroverflow1-mobile" aria-haspopup="true" aria-expanded="false">
                    <span>Femte menupunkt</span>
                </button>
                <div class="overflow-menu-inner" id="headeroverflow1-mobile" aria-hidden="true">
                    <ul class="overflow-list">
                        <li class="active current">
                            <a href="#" class="nav-link" aria-current="page"><span>Subsektion med en meget
                                    lang titel som går i flere linier</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link"><span>Subsektiontitel</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link"><span>Subsektiontitel</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link"><span>Subsektiontitel som
                                    også er forholdsvis lang</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endmacro %}

{% macro menu_top(params) %}
<div class="menu-top">
    <h2 class="menu-heading">Menu</h2>
    <button class="function-link button-menu-close js-menu-close" aria-label="{{ params.arialabel | default('Luk menu') }}">{{icon_svg({"name":"close"})}}{{ params.text | default('Luk') }}</button>
</div>
{% endmacro %}