<!doctype html>
<html lang="da">
  <head>
    <title>{{ _self.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Frontend styleguide stylesheet-->
    <link rel="stylesheet" href="{{ dkfds.path }}/css/dkfds.min.css">
  </head>
  <body>
    <div class="hide-base-svg">
      {% include "all-svg-icons.svg"  %}
    </div>
    {% block body %}{{ yield }}{% endblock %}
    <script src="{{ dkfds.path }}/js/dkfds.js"></script>
    <script>
    window.addEventListener('load', function() {
      document.body.addEventListener('submit', function(e) {
        // https://github.com/18F/web-design-standards/issues/2101
        e.preventDefault();
      }, true);
    }, false);
    </script>
  </body>
</html>


