{% from "components/language-switcher/language-switcher.njk" import language_switcher as language_switcher %}

{% macro footer_columns(footer_data) %}
  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          {%- for col in footer_data.cols -%}
          <div class="col-12 col-sm-12 col-md-{{ col.col_size_desktop }} footer-col {{ col.class }}">
            <section>
              <div class="{%- if col.text_align_right %} align-text-right  {% else %} align-text-left {% endif -%}">
                {{ col.content | safe }}
                {% for listsitem in col.lists %}
                  <ul class=" {{ listsitem.listclass|default('unstyled-list') }} {%- if listsitem.inline_list %} inline-list {% endif -%} ">
                    {% for item in listsitem.listitems %}
                    <li class="{% if item.hideOnPrint %}d-print-none{% endif %}">{{item.content | safe}}</li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            </section>
          </div>
          {% endfor -%}
        </div>
      </div>
    </div>

    {% if footer_data.language_switcher %}
      {{ language_switcher(footer_data.language_switcher) }}
    {% endif %}
  </footer>
{% endmacro %}

{{ footer_columns(footer_data) }}
