{% from "components/language-switcher/language-switcher.njk" import language_switcher as language_switcher %}

{% macro footer_simple(footer_simple_data) %}
  <footer>
    <div class="footer">
      <div class="container">
          <div class="align-text-left">
            <ul class="unstyled-list inline-list">
              {%- for item in footer_simple_data.listitems -%}
              <li class="{% if item.hideOnPrint %}d-print-none{% endif %}">{{item.content | safe}}</li>
              {% endfor -%}
            </ul>
          </div>
      </div>
    </div>
    {% if footer_simple_data.language_switcher %}
      {{ language_switcher(footer_simple_data.language_switcher) }}
    {% endif %}
  </footer>
{% endmacro %}

{{ footer_simple(footer_simple_data) }}
