@use "sass:math";
@use "font-weight" as *;

@media print {
    html {
        font-family: Georgia, "Times New Roman", Serif;
        font-size: 48%;
    }

    body {
        display: block;
        min-height: 0;
    }

    .page-container {
        display: block;
    }

    fieldset {
        page-break-before: avoid;
        page-break-inside: auto;
        display: block;
        overflow: visible !important;
    }

    .form-group {
        page-break-inside: avoid;
    }

    .form-label {
        page-break-after: avoid;
    }

    // header
    .header {

        .logo,
        .portal-info .logo {
            height: auto;
            width: auto;
            background-image: none;

            span {
                display: block;
            }
        }

        .portal-info {
            overflow: hidden;

            .portal-info-inner {
                display: block;
            }

            .portal-info {
                display: block;
                float: right;
            }
        }

        .solution-info {
            .solution-info-inner {
                display: block;
                overflow: hidden;
            }

            .solution-heading {
                display: inline-block;
            }

            .additional-info {
                display: block;
                float: right;
                margin-left: 0;
                text-align: right;

                @include media-breakpoint-up(#{$nav-responsive-breakpoint}) {
                    margin-left: 0;
                }
            }
        }
    }

    // footer
    footer {
        .footer {
            margin-top: units(6);
            padding-bottom: 0;

            .inline-list > li {
                display: inline-block;

                + li {
                    margin-left: units(4);
                }
            }
        }
    }

    // card
    .card {
        box-shadow: none;
    }

    // modal
    body.modal-active {
        @media print {
            > header {
                display: none
            }

            .page-container {
                display: none;
            }

            > footer {
                display: none;
            }
        }
    }

    body .modal {
        .modal__overlay {
            display: block;
            position: relative;
            background-color: transparent;
        }

        .bg-modal {
            background-color: transparent !important;
            background: transparent !important;
        }

        .modal__header {
            display: block;
        }

        .modal__footer {
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }

    // table
    .table.table--responsive-headers:not(.d-print-table),
    .table.table-sm-responsive-headers:not(.d-print-table),
    .table.table-md-responsive-headers:not(.d-print-table),
    .table.table-lg-responsive-headers:not(.d-print-table),
    .table.table-xl-responsive-headers:not(.d-print-table) {
        @include media-breakpoint-down(sm) {
            display: block;

            thead {
                display: none;
            }

            tr {
                border-bottom: border(20);

                &:last-child {
                    border-bottom: 0;
                }
            }

            tr td,
            tr th {
                display: block;
                border: none !important;

                &[data-title]:not([data-title=""]):before {
                    content: attr(data-title);
                    text-align: left;
                    display: block;
                    font-weight: get-font-weight("semibold");
                }
            }

            &.table--borderless tbody tr {
                &:first-child {
                    border-top: border($table-row-border);
                }

                &:last-child {
                    border-bottom: border($table-row-border);
                }

                td:first-child,
                th:first-child {
                    padding-left: 16px;
                }
            }
        }
    }

    // Checkboxes

    // Checked checkbox
    .form-checkbox:checked+label::before,
    .form-checkbox[aria-checked="mixed"]+label::before {
        background-color: color($input-checkbox-checked-background-color-print);
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: units($input-checkbox-radio-size, 'rem');
        line-height: units($input-checkbox-radio-size, 'rem');
        font-weight: get-font-weight("bold");
    }

    // 'Normal' checkbox checkmark
    .form-checkbox:checked+label::before {
        content: "\2713";
    }

    // 'Mixed' checkbox checkmark
    .form-checkbox[aria-checked="mixed"]+label::before {
        content: "\002d";
    }

    // Checked radio - radio button 'dot'
    .form-radio:checked + label::after {
        background-color: color('transparent');
        border: math.div(units($input-radio-dot-size), 2) solid color($input-radio-dot-color);
    }
}