@media print{
  body{
    display: block;
  }
  .page-container{
    display: block;
  }

  fieldset{
    page-break-before: avoid;
    page-break-inside: auto;
    display: block;
    overflow: visible !important;
  }
  .form-group{
    page-break-inside: avoid;
  }
  .form-label{
    page-break-after: avoid;
  }

  .form-checkbox + label::before, .form-radio + label::before{
    border: none;

  }

  .form-checkbox:checked + label:after, .form-radio:checked + label:after, .form-checkbox.checkbox-large:checked + label:after, .form-radio.radio-large:checked + label:after{
    box-shadow: -2px 2px 0 0 #000;
    transform: rotate(-46deg);
    -webkit-transform:rotate(-46deg);
    border-radius: 0;
    height: 7px;
    width: 12px;
    background-color: transparent;
    position: absolute;
    left: 3px;
    top: 4px;
  }
  .form-checkbox.checkbox-large:checked + label:after, .form-radio.radio-large:checked + label:after{
    height: 12px;
    width: 22px;
    left: 6px;
    top: 6px;
  }
  .form-radio + label::before{
    border-radius: 0;
  }
  .form-checkbox + label::before, .form-radio + label::before, .form-checkbox:checked + label:before{
    border: 0;
    background-color: transparent;
  }

}
