@use "../values/fds-values" as fds;
@use "../values/colors/theme-colors" as theme;
@use "../mixins/mixins" as mixins;

html {
  font-family: fds.$typography-font-family;
  font-size: fds.$root-font-size;
}

body {
  font-size: fds.font-size(fds.$typography-base-font-size);
}

p {
  line-height: fds.units(fds.$typography-base-line-height, 'rem');
  margin-bottom: fds.units(3, 'rem');
  margin-top: fds.units(4, 'rem');
}

a {
  color: fds.color(theme.$theme-color-link);

  &:hover,
  &.link-hover {
    color: fds.color(theme.$theme-color-link-hover);

    &:disabled,
    .disabled {
      background-color: transparent !important;
    }

  }

  &:focus,
  &.link-focus {
    color: fds.color(theme.$theme-color-link-focus);
    @include mixins.focus();
  }

  &:visited,
  &.link-visited {
    color: fds.color(theme.$theme-color-link-visited);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed !important;
    color: fds.color('disabled') !important;
    opacity: 0.3;

    &:focus {
      outline: none;
      background-color: transparent;
    }
  }

  .background-dark & {
    &:not(.button) {
      color: fds.color('white');
    }

    &:disabled,
    &.disabled {
      box-shadow: none !important;
      cursor: not-allowed !important;
      color: fds.color('disabled-light') !important;
      outline-offset: inherit !important;

      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }

  &.bold-link {
    font-weight: fds.font-weight("semibold");
  }

  &:not(.button, .full-width-image) {
    max-width: fds.$typography-text-max-width;
  }
}

h1, .h1 {
  @include mixins.h1;
}
h2, .h2{
  @include mixins.h2;
}

h3, .h3 {
  @include mixins.h3;
}

h4, .h4{
  @include mixins.h4;
}

h5, .h5{
  @include mixins.h5;
}

h6, .h6{
  @include mixins.h6;
}

p, .body-text, .body-copy-text{
  @include mixins.body-copy-text;
}
figcaption, .figcaption{
  @include mixins.caption;
  p{
    @include mixins.caption;
  }
}
.subheading{
  @include mixins.subheading;
}

.font-lead {
  font-size: fds.font-size(fds.$typography-lead-font-size);
  font-weight: fds.font-weight("normal");
  line-height: fds.units(fds.$typography-lead-line-height, 'rem');
  max-width: fds.$typography-text-max-width;
  color: fds.color('ink');
  letter-spacing: fds.$typography-lead-letter-spacing;
}
.article{
  font-size: fds.font-size(fds.$typography-article-font-size);
  font-weight: fds.font-weight("normal");
  line-height: fds.units(fds.$typography-article-line-height, 'rem');
  max-width: fds.$typography-text-max-width;
  color: fds.color('ink');
  letter-spacing: fds.$typography-article-letter-spacing;
}
small, .small-text {
  @include mixins.small-text();
}

.weight-normal {
  font-weight: fds.font-weight("normal");
}

.weight-semibold {
  font-weight: fds.font-weight("semibold");
}
.facit {
  border-bottom: fds.border(10);
  border-bottom-style: double;
  border-bottom-width: 4px;
}
strong, b, .bold {
  font-weight: fds.font-weight("bold");
}

.italic, em {
  font-style: italic;
}


.form-label {
  @include mixins.form-label-text;
}


h1:focus, .h1:focus,
h2:focus, .h2:focus,
h3:focus, .h3:focus,
h4:focus, .h4:focus,
h5:focus, .h5:focus,
h6:focus, .h6:focus {
  outline: none;
}

h1, .h1{
  margin-bottom: fds.units(4, 'rem');
  margin-top: 0rem;
}

h2, .h2 {
  margin-top: fds.units(6, 'rem');
  margin-bottom: fds.units(4, 'rem');
  @include mixins.media-breakpoint-up(md) {
    margin-top: fds.units(7, 'rem');
  }
}
h3, .h3{
  margin-top: fds.units(6, 'rem');
  margin-bottom: fds.units(4, 'rem');
  @include mixins.media-breakpoint-up(md) {
    margin-top: fds.units(7, 'rem');
  }
}
h4, .h4{
  margin-top: fds.units(5, 'rem');
  margin-bottom:  fds.units(4, 'rem');
}
h5, .h5{
  margin-top: fds.units(5, 'rem');
  margin-bottom: 0;
}
h6, .h6{
  margin-top: fds.units(5, 'rem');
  margin-bottom: 0;
}
.font-lead{
  margin-top: fds.units(5, 'rem');
  margin-bottom:  fds.units(4, 'rem');
}
p, .body-text{
  margin-top: fds.units(4, 'rem');
  margin-bottom: fds.units(4, 'rem');
}
h5, .h5, h6, .h6{
  & + p, & + ul, & + ol{
    margin-top: 0; //if next sibling after h5 og h6 is a p-tag, no margin-top on p-tag.
  }
}

//a function link, does not look like a link
button.function-link{
  background: none;
  padding: 0px;
  text-decoration: underline;
  text-align: left;
}
.function-link{
  border: none;
  @include mixins.body-copy-text;
  cursor: pointer;
  display: inline-block;
  &:hover, &:visited, &:focus{
    color: fds.color('ink');
  }
  .icon-svg{
    margin-right: fds.units(2);
    fill: currentColor;
  }

  &.link-right {
    text-align: right;
  }
}

.back-link{
  border-bottom: fds.border(10);
  color: fds.color('black');
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-bottom: fds.units(5);
  @include mixins.media-breakpoint-up(lg) {
    margin-bottom: fds.units(6);
  }
  line-height: 2.4rem;
  padding-left: 14px;
  &::before{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  &:active, &:focus, &:hover, &:visited{
    color: fds.color('black');
  }
}

.icon-link{
  line-height: fds.units(fds.$typography-body-text-line-height, 'rem');
  .icon-svg{
    margin-left: fds.units(2);
    width: 1.6rem;
    height: 1.6rem;
    fill: currentColor;
  }
}

 //styling for link in heading
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  a, a:hover, a:visited, a:focus{
    text-decoration: underline;
  }

  a.search-link {
    text-decoration: none;
    &:visited {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

// Remove user agent styles
cite,
var,
address,
dfn {
  font-style: normal;
}

//max-width of 66ch for text
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  max-width: fds.$typography-text-max-width;
}
p,
ul:not(.accordion):not(.accordion-bordered):not(.mainmenu):not(.inline-list):not(.tabnav):not(.sidenav-list):not(.sidenav-sub_list):not(.sidemenu),
ol:not(.accordion):not(.accordion-bordered):not(.sidenav-list):not(.sidemenu){
  max-width: fds.$typography-text-max-width;
}
.font-lead{
  max-width: fds.$typography-text-max-width;
}

.form-label, .form-hint, .form-error-message{
  max-width: fds.$typography-text-max-width;
}
.form-checkbox+label, .form-radio+label{
  max-width: fds.$typography-text-max-width;
}

.displayheading {
  &-1 {
    font-weight: fds.font-weight("medium");
    font-size: fds.font-size(fds.$typography-display-1-heading-font-size);
    line-height: fds.units(fds.$typography-display-1-heading-line-height, 'rem');
    margin-bottom: 0;
    color: fds.color('black');
    letter-spacing: fds.$typography-display-1-heading-letter-spacing;
  }
  &-2 {
    font-weight: fds.font-weight("medium");
    font-size: fds.font-size(fds.$typography-display-2-heading-font-size);
    line-height: fds.units(fds.$typography-display-2-heading-line-height, 'rem');
    margin-bottom: 0;
    color: fds.color('black');
    letter-spacing: fds.$typography-display-2-heading-letter-spacing;
  }
}

.text-positive {
  @include mixins.color-text-positive();
}

.text-negative {
  @include mixins.color-text-negative();
}

.color-text-black {
  color: fds.color('black');
}

.background-dark {
  background-color: fds.color('black');

  p, span{
    color: fds.color('white');
  }
}

.field-group-title {
  font-weight: fds.font-weight("normal");

  ~ hr {
    border: 2px solid fds.color('black');
  }
}

h1, h2, h3, h4, h5, h6, p, legend, strong, b, cite, var, address, dfn{
  text-rendering: optimizeLegibility; //Vigtig — den er vidst default i Webkit nu, men den har effekt på andre engines
  -webkit-font-smoothing: none; //Fikser for tyk typografi i Webkit-baserede browsers)
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
