// These variables drive almost every aspect of the Frontend Styleguide.
// Every variable is declared as !default so that it can be overridden
// by a previous import.
//

//----------------
// -to-rem
//----------------
$global-font-size:  100% !default;
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.
$em-base:           62.5%; //-> 10px for standard browsers, now 'Font size' from the browser setting works correctly if the uses specifies a bigger standard font-size.

$base-font-size:    1.6rem !default;
$base-line-height:  2.4rem !default;

// Paths
// Relative font and image file paths
$font-path:                     '../fonts/IBMPlexSans/' !default;
$image-path:                    '../img' !default;
$icons-folder-path:             "../img/svg-icons" !default;
// Typography
// Typography font-size and line-height

$font-name: 'IBM Plex Sans'!default;

$h1-font-size:                3.9rem !default;
$h1-line-height:              4.8rem !default;

$h2-font-size:                3.1rem !default;
$h2-line-height:              4.0rem !default;

$h3-font-size:                2.5rem !default;
$h3-line-height:              3.2rem !default;

$h4-font-size:                2.0rem !default;
$h4-line-height:              2.8rem !default;

$h5-font-size:                1.6rem !default;
$h5-line-height:              2.4rem !default;

$h6-font-size:                1.3rem !default;
$h6-line-height:              2.0rem !default;

$display-1-heading-size:       2.5rem !default;
$display-1-heading-line-height: 3.8rem !default;
$display-1-heading-letter-spacing: -0.2px !default;

$display-2-heading-size: 2.1rem !default;
$display-2-heading-line-height: 3.2rem !default;
$display-2-heading-letter-spacing: -0.2px !default;

$body-text:                   1.6rem !default;
$body-text-line-height:       2.4rem !default;
$body-text-letter-spacing:    -0.1px !default;


$caption-font-size: 1.3rem !default;
$caption-line-height: 1.6rem !default;
$caption-letter-spacing: 0.4px !default;

$subheading-font-size: 1.3rem !default;
$subheading-line-height: 1.6rem !default;
$subheading-letter-spacing: 1px !default;


$form-label:                  1.6rem !default;
$form-label-line-height:      2.4rem !default;

$small-text:                  1.4rem !default;
$small-text-letter-spacing:   0.2px !default;
$small-text-line-height:      2rem !default;

$lead-font-size:              2.1rem !default;
$lead-line-height:            3.2rem !default;
$lead-letter-spacing:         -0.15px !default;

$article-font-size:              1.8rem !default;
$article-line-height:            2.8rem !default;
$article-letter-spacing:         -0.15px !default;

$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-style-normal:           normal !default;
$font-style-italic:           italic !default;

$font-family:                'IBM Plex Sans', 'system' !default;

///////////////////////////////////////////////////////////////////
// Spacing helpers
//
// Mostly used to control spacing.
// You can add more entries to the $spacers map, should you need more variation.
// How to use: map-get($spacers, 2); This will give 4px (8*0.5).

$spacer: 8px !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),   //2px
  2: ($spacer * .5),    //4px
  3: $spacer,           //8px
  305:($spacer * 1.5),  //12px
  4: ($spacer * 2),     //16px
  405: ($spacer * 2.5), //20px
  5: ($spacer * 3),     //24px
  505: ($spacer * 3.5), //28px
  6: ($spacer * 4),     //32px
  605: ($spacer * 4.5), //36px
  7: ($spacer * 5),     //40px
  705: ($spacer * 5.5), //44px
  8: ($spacer * 6),     //48px
  805: ($spacer * 6.5), //52px
  9: ($spacer * 7),     //56px
  905: ($spacer * 7.5), //60px
) !default;

//Translate $spacer into rem
$spacing-small:                 0.4rem !default;
$spacing:                       0.8rem !default;
$spacing-md-small:              1.6rem !default;
$spacing-medium:                2.4rem !default;
$spacing-large:                 3.2rem !default;
$spacing-x-large:               4.0rem !default;
$spacing-xx-large:              4.8rem !default;
$spacing-xxx-large:             5.6rem !default;

// Tag colors
$tag-color: $color-white !default;
$tag-bg: $color-gray-dark !default;
$tag-hover-bg: $color-gray-medium-dark !default;
$tag-active-bg: $color-black !default;
$tag-focus-bg: $color-gray-dark !default;

$color-shadow:                rgba(#000, 0.3) !default;
$color-transparent:           rgba(#000, 0) !default;


$input-border-width-feedback: 2px;
$input-top-bottom-padding-feedback: calc(8px - #{$input-border-width-feedback});
$input-left-right-padding-feedback: calc(16px - #{$input-border-width-feedback});

//Tabs
$tabs-active-border-color: $color-primary !default;

//Sidenavigation
$sidenav-link-color: $color-gray-001 !default;
$sidenav-link-color-hover: $color-primary !default;
$sidenav-link-current-color: $color-gray-001 !default;
$sidenav-link-active-color: $color-black !default;
$sidenav-active-border-width: 4px !default;

//Borders
$outer-border:            border(10);
$inner-border:            border(20);
$inner-inner-border:      border(30);

//Backgrounds
$background-normal: #FFFFFF;
$background-alternative: #F5F5F5;

//----------------
// Grid
// ----------------

// Common grid breakpoints variables
$grid-xs:                     0 !default;
$grid-sm:                     576px !default;
$grid-md:                     768px !default;
$grid-lg:                     992px !default;
$grid-xl:                     1200px !default;

// Grid breakpoints..
$grid-breakpoints: (
  xs: $grid-xs,
  sm: $grid-sm,
  md: $grid-md,
  lg: $grid-lg,
  xl: $grid-xl
) !default;

// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1200px
) !default;

$grid-columns:                  12 !default;
$grid-gutter-width:             32px !default; //16px on each side of the columns

//----------------
// Magic Numbers
//----------------

$text-max-width:                66ch !default; //equivalent to 75 characters with spaces (ish).
$site-max-width:                $grid-xl !default; // 1200px
$site-margins:                  ($grid-gutter-width / 2) !default;
$site-margins-mobile:           1.5rem !default;
$article-max-width:             600px !default;
$label-border-radius:           2px !default;
$checkbox-border-radius:        2px !default;
$checkbox-small-height:         rem-calc(18) !default;
$checkbox-small-width:          rem-calc(18) !default;
$checkbox-small-lineheight:      rem-calc(24) !default;
$border-radius:                 3px !default;
$button-border-radius:          4px !default;
$static-border-radius:          0;
$interactive-border-radius:     4px;
$button-box-shadow:             rgba(0,0,0,.4) !default;
$box-shadow:                    0 0 2px $color-shadow !default;
$focus-outline:                 4px solid $color-focus;
$focus-spacing:                 1px;
$nav-responsive-breakpoint:     lg !default; // 992px

$box-shadow-heavy:               0 8px 16px 0 $color-shadow;
$box-shadow-moderately:          0 4px 8px 0 $color-shadow;
$box-shadow-slightly:            0 2px 4px 0 $color-shadow;


// 44 x 44 pixels hit target following Apple iOS Human Interface
$hit-area:                      4.4rem !default;
