// ----------------------------------------
// Borger.dk theme
// ----------------------------------------

$borger-primary:          #44831E !default;
$borger-primary-dark:     #3C5C22 !default;
$borger-primary-darker:   #233614 !default;

$custom-colors: (
    'borgerdk-100': $borger-primary, 
    'borgerdk-200': $borger-primary-dark,
    'borgerdk-300': $borger-primary-darker,
    'background-100': #f1f1f1
);

$theme-color-primary:               $borger-primary !default;
$theme-color-primary-dark:          $borger-primary-dark !default;
$theme-color-primary-darker:        $borger-primary-darker !default;
$header-portal-background-color:    #f1f1f1 !default;
$header-portal-logo:                'logo-borgerdk.svg' !default;
$header-portal-logo-height:         24px !default;
$header-portal-compact-logo-width:  10rem !default;