// These variables overwrite the default values, giving the style the virk.dk theme

// Overwriting default values
$color-primary:               #0059B3;
$color-primary-medium:        #004993;
$color-primary-dark:          #003972;

$image-path:                  '../img' !default;

$header-portal-logo: 'logo_virk.svg';
$header-portal-logo-height: 4.8rem;
$header-portal-logo-width: 7.8rem;

$header-portal-compact-logo-width: 3.8rem;

