{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro nav_list(links, subclass) %}
  {% for item in links %}
  <li class="{% if item.current %}current{% endif %} {% if item.active %}active{% endif %} {% if item.isAnchorLinks %}has-anchor-links{% endif %} ">
    <a href="{{ item.href }}">
      {% if item.iconbefore %}
          <span class="sidenav-icon-before">
              {{ icon_svg(item.iconbefore) }}
          </span>
      {% endif %}
      {{ item.text }}
      {% if item.information %}
          <span class="sidenav-information">{{item.information}}</span>
      {% endif %}
    </a>
    {% if item.current and item.links %}
    <ul class="{{ subclass }}">
      {{ nav_list(item.links, subclass) }}
    </ul>
    {% endif %}
    {% if item.active and item.links %}
    <ul class="{{ subclass }}">
      {{ nav_list(item.links, subclass) }}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
{% endmacro %}
