{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro nav_list(params) %}
{% for item in params.links %}
<li{% if item.links or item.current %} class="{% if item.links or item.current %}active{% endif %}{% if item.current %} current{% endif %}"{% endif %}>
    <a href="{{ item.href | default('#')}}" class="nav-link"{% if item.current %} aria-current="page"{% endif %}>
        {% if item.information %}
        <div>
            <span>{{ item.text }}</span>
            <span class="sidenav-information">{{item.information}}</span>
        </div>
        {% else %}
        <span>{{ item.text }}</span>
        {% endif %}
    </a>
    {% if item.links %}<ul>{{ nav_list({"links":item.links}) }}</ul>{% endif %}
</li>
{% endfor %}
{% endmacro %}
