

{% macro tabnav(tabnav) %}

<ul class="tabnav">
  {% for item in tabnav.items %}
  <li>
    <a href="{{item.href}}" {% if item.active %} class="active"{% endif %}>
      {{ item.title }}
      {% if item.active %}<span class="sr-only">(valgt)</span>{% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
