{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/overflow-menu/overflow-menu.njk" import overflowmenu as overflowmenu %}

{# Free step guide #}
{% macro tringuide(trinliste) %}
<nav>
  <ul class="sidenav-list" role="menu">
    {% for trin in trinliste %}<li{% if trin.disabled or trin.active %} class="{% if trin.disabled %}disabled{% endif %} {% if trin.active %}active current{% endif %}"{% endif %} role="none">
        <a href="{{trin.href}}" role="menuitem" {% if trin.active %}aria-current="page"{% endif %}>
            {{loop.index}}. {{trin.text}}

            {% if trin.icon %}
            <span class="sidenav-icon{%if trin.iconclass %} {{ trin.iconclass }}{% endif %}">
                {{ icon_svg(trin.icon) }}
            </span>
            {% endif %}
        </a>
      </li>{% endfor %}
  </ul>
</nav>
{% endmacro %}

{# Locked step guide #}
{% macro tringuide_locked(trinliste) %}
<nav>
  <ul class="sidenav-list sidenav-list-locked" role="menu">
    {% for trin in trinliste %}<li{% if trin.disabled or trin.active %} class="disabled {% if trin.active %}active current{% endif %}"{% endif %} role="none">
        <a tabindex="-1" aria-disabled="true" role="menuitem" {% if trin.active %}aria-current="page"{% endif %}>
            {{loop.index}}. {{trin.text}}

            {% if trin.icon %}
            <span class="sidenav-icon{%if trin.iconclass %} {{ trin.iconclass }}{% endif %}">
                {{ icon_svg(trin.icon) }}
            </span>
            {% endif %}
        </a>
      </li>{% endfor %}
  </ul>
  </nav>
{% endmacro %}

{# information step guide #}
{% macro tringuide_information(trinliste) %}
<nav>
  <ul class="sidenav-list" role="menu">
    {% for trin in trinliste %}<li{% if trin.disabled or trin.active %} class="{% if trin.disabled %}disabled{% endif %} {% if trin.active %}active current{% endif %}"{% endif %} role="none">
        <a href="{{trin.href}}" role="menuitem" {% if trin.active %}aria-current="page"{% endif %}>
          {{loop.index}}. {{trin.text}}
          {% if trin.icon %}
          <span class="sidenav-icon{%if trin.iconclass %} {{ trin.iconclass }}{% endif %}">
              {{ icon_svg(trin.icon) }}
          </span>
          {% endif %}
          {% if trin.information %}
              <span class="sidenav-information">{{trin.information}}</span>
          {% endif %}
        </a>
      </li>{% endfor %}
  </ul>
  </nav>
{% endmacro %}
