

{% from "components/buttons/buttons.njk" import button as button %}
{% macro table(params) %}

{%- set unique = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50] | random -%}
{%- set ariacontrols = "" -%}
{%- for row in params.tbody -%}
    {%- set ariacontrols = ariacontrols + " " + params.id+"-check-"+unique+"-"+loop.index -%}
{%- endfor -%}
<div class="table--responsive-scroll">
    <table class="table table--selectable" id="{{params.id}}">
        <thead>
            <tr>
            {%- if params.selectable -%}
            <th>
            <input id="{{params.id}}-check-{{unique}}-all" type="checkbox" class="form-checkbox" aria-controls="{{ariacontrols}}">
            <label for="{{params.id}}-check-{{unique}}-all" aria-label="Vælg alle rækker"><span class="sr-only">Vælg alle rækker</span></label>
            </th>
            {%- endif -%}
            {% for th in params.thead %}
                <th>{{th}}</th>
            {% endfor %}
            </tr>
        </thead>
        
        <tbody>
            {% for row in params.tbody %}
            <tr>
                {%- if params.selectable -%}
                <td><input id="{{params.id}}-check-{{unique}}-{{loop.index}}" type="checkbox" name="{{params.id}}-check[]" class="form-checkbox" value="{{row[0]}}">
                    <label for="{{params.id}}-check-{{unique}}-{{loop.index}}" aria-label="Vælg række"><span class="sr-only">Vælg række</span></label>
                </td>
                {%- endif -%}
                {% for td in row %}
                <td>{{td | safe}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if params.actions %}
    <div class="table-actions">
        <p class="table-selected-number no-selected">Vælg en eller flere rækker for at udføre funktioner</p>
        {% for action in params.actions %}
            {{ button(action) }}
        {% endfor %}
    </div>
    {%- endif -%}
</div>
{% endmacro %}

{% macro checkbox(id, label, name, value, controls) %}
  <input id="{{id}}" type="checkbox"{% if name %}name="{{name}}"{% endif %} class="form-checkbox"{% if value %}value="{{value}}"{% endif %}{% if controls %} aria-controls="{{controls | trim}}"{% endif %} />
  <label for="{{id}}" aria-label="{{label}}"></label>
{% endmacro %}
