

{% from "components/buttons/buttons.njk" import button as button %}
{% macro table(data) %}
{%- set ariacontrols = "" -%}
{%- for row in data.tbody -%}
    {%- set ariacontrols = ariacontrols + " " + data.id+"-check-"+loop.index -%}
{%- endfor -%}
{%- set unique = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50] | random -%}
<div class="table--responsive-scroll">
    <table class="table table--selectable" id="{{data.id}}">
        <thead>
            <tr>
            {%- if data.selectable -%}
            <th>{{checkbox(data.id+"-check-"+unique+"-all", "Vælg alle rækker", false, false, ariacontrols)}}</th>
            {%- endif -%}
            {% for th in data.thead %}
                <th>{{th}}</th>
            {% endfor %}
            </tr>
        </thead>
        
        <tbody>
            {% for row in data.tbody %}
            <tr>
                {%- if data.selectable -%}
                <td>{{checkbox(data.id+"-check-"+unique+"-"+loop.index, "Vælg række", data.id+"-check[]", row[0])}}</td>
                {%- endif -%}
                {% for td in row %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if data.actions %}
    <div class="table-actions">
        <p class="table-selected-number no-selected">Vælg en eller flere rækker for at udføre funktioner</p>
        {% for action in data.actions %}
            {{ button(action.text, action.class, action.attribute, action.icon, action.sronly) }}
        {% endfor %}
    </div>
    {%- endif -%}
</div>
{% endmacro %}

{% macro checkbox(id, label, name, value, controls) %}
  <input id="{{id}}" type="checkbox"{% if name %}name="{{name}}"{% endif %} class="form-checkbox"{% if value %}value="{{value}}"{% endif %}{% if controls %} aria-controls="{{controls}}"{% endif %} />
  <label for="{{id}}" aria-label="{{label}}"></label>
{% endmacro %}
