{% macro toggle_switch(params) %}
<button class="toggle-switch{% if params.classes %} {{ params.classes }}{% endif %}" type="button" role="switch" {% if params.checked %}aria-checked="true"{% else %}aria-checked="false"{% endif %}{% if params.disabled %} disabled{% endif %}{% if params.attributes %} {{ params.attributes | safe }}{% endif %}><span>{{params.label | safe }}</span></button>
{% endmacro %}