{% macro toggle(params) %}
<div class="toggle-element{% if params.classes %} {{ params.classes }}{% endif %}">
    {% if params.label %}<label class="toggle-label{% if params.disabled %} disabled{% endif %}" for="{{params.id}}">{{params.label | safe }}</label>{% endif %}
    <button class="toggle-button" role="switch" {% if params.checked %}aria-checked="true"{% else %}aria-checked="false"{% endif %} id="{{params.id}}"{% if params.disabled %} disabled{% endif %}{% if params.attributes %} {{ params.attributes | safe }}{% endif %}></button>
</div>
{% endmacro %}