{% macro icon_svg(iconname, classes, arialabel, ariahidden) %}<svg class="icon-svg {{ classes }}" {% if arialabel %}aria-label ="{{arialabel}}"{% endif %} {% if ariahidden %}aria-hidden ="{{ariahidden}}"{% endif %}><use xlink:href="#{{iconname}}"></use></svg>{% endmacro %}
