{%- macro icon(params) -%}
  <i class="icon icon-{{params.iconName}}{% if params.classes %} {{ params.classes }}{% endif %}"{% if params.ariaLabel %} aria-label="{{params.ariaLabel}}"{% endif %}></i>
{%- endmacro -%}