{% macro icon_svg(iconname, classes, arialabel, ariahidden) %}<svg class="icon-svg {{ classes }}" {% if arialabel %}aria-label ="{{arialabel}}"{% endif %} focusable="false" aria-hidden="{{ariahidden|default('true') }}" tabindex="-1"><use xlink:href="#{{iconname}}"></use></svg>{% endmacro %}
