{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/form/controls/label.njk" import label as label %}
{% from "components/form/controls/helptext.njk" import helptext as helptext %}
{% from "components/form/controls/errormessage.njk" import errorMessage as errorMessage %}

{% macro datepicker(params) %}
{% set required = params.required | default(true) %}
<div class="form-group{% if params.success %} form-success{% endif %}{% if params.errorMessage %} form-error{% endif %}">
  {{label(params.label)}}
  {{helptext(params.helptext)}}
  {{errorMessage(params.errorMessage)}}
  <div class="date-picker" {% if params.minDate %}data-min-date="{{params.minDate}}" {%endif%}{% if params.maxDate %}data-max-date="{{params.maxDate}}" {%endif%}{% if params.defaultDate %}data-default-date="{{params.defaultDate}}" {%endif%}><input class="form-input {{params.classes}}" {% if required == true %}required {% endif %} id="{{params.id}}" value="{{params.value}}" name="{{params.name}}" type="{{params.type | default('text') }}" {% if params.disabled %}disabled="disabled"{% endif %} {% if params.errorMessage %}aria-invalid="true" {% endif %}{% if params.errorMessage or params.helptext %}aria-describedby="{% if params.helptext%}{{params.helptext.id}}{% endif %} {% if params.errorMessage %}{{params.errorMessage.id}}{% endif %}"{% endif %}></div>
</div>{% endmacro %}