{% from "components/tooltip/tooltip.njk" import tooltip_helpicon as tooltip_helpicon %}

{%- macro label(params) -%}
{%- set tooltipID = params.for + "-tooltipbutton" -%}
{%- if params.text -%}<label class="form-label{% if params.classes %} {{params.classes}}{% endif %}" for="{{params.for}}"{% if params.attributes %} {{ params.attributes | safe }}{% endif %}>{{ params.text | safe }}{% if params.optionalLabel %}<span class="weight-normal"> (frivilligt)</span>{% endif %}{% if params.requiredLabel %}<span class="weight-normal"> (*skal udfyldes)</span>{% endif %}{% if params.srOnly %}<span class="sr-only"> {{ params.srOnly }}</span>{% endif %}</label>
{% if params.tooltip.text %}{{ 
    tooltip_helpicon({
        "text": params.tooltip.text,
        "id": tooltipID,
        "contentElement": "span",
        "forceVisible": params.tooltip.forceVisible
    }) 
}}{% endif %}
{%- endif -%}
{%- endmacro -%}
