{% macro radiobutton(param) %}
  <input id="{{param.id}}" type="radio" name="{{param.name}}" value="{{param.value}}" {% if param.helptext %}aria-labelledby="form-label-{{param.id}} helptext-{{param.id}}"{% endif %}class="form-radio {% if param.large %}radio-large{% endif %} {{param.inputClasses}}" {% if param.disabled %}disabled{% endif %} {% if param.checked %}checked{% endif %} {{param.inputAttrs | safe }} />
  <label for="{{param.id}}" id="form-label-{{param.id}}" class="{{param.class}}" {{param.attr | safe}}>{{param.text}} {% if param.srOnly %}<span class="sr-only">{{param.srOnly}}</span>{% endif %}</label>
  {% if param.helptext %}<span class="form-hint" id="helptext-{{param.id}}">{{ param.helptext }}</span>{% endif %}
{% endmacro %}
