{% from "components/form/controls/label.njk" import label as label %}
{% macro textarea(params) %}
  <div class="form-group{% if params.errorMessage %} form-error{% endif %}{% if params.characterLimit %} form-limit{% endif %}" {% if params.characterLimit %}data-maxlength="{{params.characterLimit.limit}}" id="{{params.characterLimit.id}}"{% endif %}>
     {{label({
    text: params.label.text,
    classes: params.label.classes,
    tooltip: params.label.tooltip,
    for: params.id,
    optionalLabel: params.label.optionalLabel,
    requiredLabel: params.label.requiredLabel
  }) | indent(2) | trim }}
     {% if params.helptext %}<span class="form-hint" id="input-hint-message-{{params.id}}">{{params.helptext}}</span>{% endif %}
     {% if params.errorMessage %}<span class="form-error-message" id="form-error-message-{{params.id}}"><span class="sr-only">Fejl:</span> {{params.errorMessage}}</span>{% endif %}
     <textarea class="form-input {{params.classes}}" {% if params.rows %} rows="{{ params.rows }}"{% endif %} {% if params.placeholder %} placeholder="{{params.placeholder}}"{% endif %} {% if params.required %} required{% endif %} {% if params.disabled %} disabled{% endif %} {% if params.readonly %} readonly{% endif %} id="{{params.id}}" name="{{params.name}}" {% if params.errorMessage or params.helptext or params.characterLimit %}aria-describedby="{% if params.errorMessage %}form-error-message-{{params.id}}{% endif %} {% if params.helptext %}input-hint-message-{{params.id}}{% endif %} {% if params.characterLimit %}{{params.characterLimit.id}}-message{% endif %}" {% endif %}>{{params.value}}</textarea>
     {% if params.characterLimit %}
     <span id="{{params.characterLimit.id}}-message" class="sr-only">Du kan indtaste op til {{params.characterLimit.limit}} tegn</span>
     <span class="form-hint character-limit" aria-hidden="true">Du har {{params.characterLimit.limit}} tegn tilbage</span>
     <span class="character-limit-sr-only sr-only" aria-live="polite">Du har {{params.characterLimit.limit}} tegn tilbage</span>
     {% endif %}
  </div>
{% endmacro %}
