{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

{% macro textinput(id, label, optionallabel, class, error, name, classlabel, success, disabled, hint, placeholder, value, tooltip, tooltipTitle, readonly, type) %}<div class="form-group{% if success %} form-success{% endif %}{% if error %} form-error{% endif %}">
      {% if label != "" %}<label class="form-label {{classlabel}}" for="{{id}}">
        {{label}}{% if optionallabel %}<span class="weight-normal"> {{optionallabel}}</span>{% endif %}{% if tooltip %}<a href="javascript:void(0)" class="js-tooltip" data-tooltip="{{tooltipTitle}}"><svg class="icon-svg" focusable="false" aria-hidden="true" ><use xlink:href="#help-circle-outline"></use></svg></a>{% endif %}
        </label>{% endif %}
      {% if hint %}<span class="form-hint" id="{{id}}-hint">
      {{hint}}
      </span>{% endif %}
      {% if error %}<span class="form-error-message" id="{{id}}-error">
      <span class="sr-only">Fejl:</span> {{error}}
      </span>{% endif %}
     <input class="form-input {{class}}" {% if optionallabel == nil %}required {% endif %}{% if placeholder %} placeholder="{{placeholder}}" {% endif %}id="{{id}}" value="{{value}}" name="{{name}}" type="{{type | default('text') }}" {% if disabled %}disabled="disabled"{% endif %} {% if error %}aria-invalid="true" {% endif %}{% if error or hint %}aria-describedby="{% if hint%}{{id}}-hint{% endif %} {% if error %}{{id}}-error{% endif %}"{% endif %}  {% if readonly %} readonly {% endif %}>
  </div>{% endmacro %}
