{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}
{% from "components/form/controls/label.njk" import label as label %}
{% macro textinput(params) %}<div class="form-group{% if params.success %} form-success{% endif %}{% if params.errorMessage %} form-error{% endif %}">
{% set isRequired = params.required | default(true) %}
{% set hintId = params.id + '-hint' %}
{% set errorId = params.id + '-error' %}
  {{label({
    text: params.label.text,
    classes: params.label.classes,
    tooltip: params.label.tooltip,
    for: params.id,
    optionalLabel: params.label.optionalLabel,
    requiredLabel: params.label.requiredLabel
  }) | indent(2) | trim }}
      {% if params.hint %}<span class="form-hint" id="{{hintId}}">
      {{params.hint}}
      </span>{% endif %}
      {% if params.errorMessage %}<span class="form-error-message" id="{{errorId}}">
      <span class="sr-only">Fejl:</span> {{params.errorMessage | safe}}
      </span>{% endif %}
      {%- if params.suffix or params.prefix %}<div class="form-input-wrapper{% if params.prefix %} form-input-wrapper--prefix{% endif %}{% if params.suffix %} form-input-wrapper--suffix{% endif %}">{% endif -%}
       {%- if params.prefix -%}
       <div class="form-input-prefix" aria-hidden="true">{{params.prefix}}</div>
       {%- endif -%}
      <input class="form-input{% if params.classes %} {{params.classes}}{% endif %}" {% if params.placeholder %} placeholder="{{params.placeholder}}" {% endif %}id="{{params.id}}"{% if params.value %} value="{{params.value}}"{% endif %} name="{{params.name}}" type="{{params.type | default('text') }}" {% if params.disabled %}disabled="disabled"{% endif %} {% if params.errorMessage %}aria-invalid="true" {% endif %}{% if params.errorMessage or params.hint %}aria-describedby="{% if params.hint %}{{hintId}}{% endif %}{% if params.errorMessage %} {{errorId}}{% endif %}"{% endif %}{% if params.readonly %} readonly{% endif %}{% if isRequired %} required{% endif %}{% if params.autocomplete %} autocomplete="{{params.autocomplete}}"{% endif %} />
       {%- if params.suffix -%}
       <div class="form-input-suffix" aria-hidden="true">{{params.suffix}}</div>{%- endif -%}
      {% if params.suffix or params.prefix %}</div>{% endif %}
  </div>{% endmacro %}